.seoviet-menu-mobile,.seovietmenu{display:none}
.seovietmenu,.seovietmenu *,.seovietmenu :after,.seovietmenu :before{box-sizing:border-box}
.seoviet-mobile-menu-container{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0);-webkit-transition:-webkit-transform .5s ease-out 0s;transition:transform .5s ease-out 0s;position:fixed;background-color:#fefefe;width:280px;height:100%;top:0;left:0;z-index:200}
.seoviet-page{-webkit-transition:-webkit-transform .5s ease-out 0s;transition:transform .5s ease-out 0s}
.seovietmenu--active .seovietmenu__container{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:-webkit-transform .5s ease-in 0s;transition:transform .5s ease-in 0s}
.seovietmenu--active .seoviet-page{overflow:hidden;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.seovietmenu--active.seovietmenu--left .seoviet-page{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0)}
.seovietmenu--active.seovietmenu--right .seoviet-page{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}
.seovietmenu__head,.seovietmenu__header{color:#fff;background-color:transparent}
.seovietmenu>ul{display:none}
.seovietmenu__head{padding:0 5px;height:160px;text-align:center;position:relative}
.seovietmenu__header{line-height:35px}
.seovietmenu__header a{color:#ffc107}
.seovietmenu__logo{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);color:#fff;width:80%;height:80%;background-position:50% 50%}
@media (max-width:992px) {
.header-banner .logo {position: relative;}
.header-banner .logo img {max-width: 100%;max-height: 100px !important;}
}
.seovietmenu__toggle{cursor:pointer;outline:0;color:#fff;-ms-touch-action:manipulation;touch-action:manipulation;width:40px;height:40px;position:relative;display:inline-block;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:none;font-weight:400;-o-transition:box-shadow .15s ease-in-out;transition:box-shadow .15s ease-in-out;
position: absolute;top:50%;left:0;transform: translateY(-50%);
}
.seovietmenu__header .seovietmenu__toggle{position:absolute;top:0;width:60px;height:60px;color:#fff;background-color:transparent}
.seovietmenu__toggle .hamburger{display:inline-block;cursor:pointer;-webkit-transition-property:opacity,-webkit-filter;transition-property:opacity,filter;transition-property:opacity,filter,-webkit-filter;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:linear;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}
.seovietmenu__toggle .hamburger-box{width:16px;height:16px;display:inline-block;position:relative}
.seovietmenu__toggle .hamburger-inner{display:block;top:50%;margin-top:-2px}
.seovietmenu__toggle .hamburger-inner,.seovietmenu__toggle .hamburger-inner::after,.seovietmenu__toggle .hamburger-inner::before{width:16px;height:1px;background-color:#FFF;border-radius:2px;position:absolute;-webkit-transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
.seovietmenu__toggle .hamburger-inner::after,.seovietmenu__toggle .hamburger-inner::before{content:"";display:block}
.seovietmenu__toggle .hamburger-inner::before{top:-5px}
.seovietmenu__toggle .hamburger-inner::after{bottom:10px}
.seovietmenu__toggle .hamburger--collapse .hamburger-inner::before{-webkit-transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)}
.seovietmenu__toggle .hamburger--collapse .hamburger-inner::after{-webkit-transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear;transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear}
.seovietmenu__toggle .hamburger--collapse .hamburger-inner{top:auto;bottom:0;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-delay:.15s;transition-delay:.15s;-webkit-transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-timing-function:cubic-bezier(.55,.055,.675,.19)}
.seovietmenu__toggle.is-active .hamburger-inner{bottom:-6px;-webkit-transform:translate3d(0,-10px,0) rotate(-45deg);transform:translate3d(0,-10px,0) rotate(-45deg);-webkit-transition-delay:.32s;transition-delay:.32s;-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
.seovietmenu__toggle.is-active .hamburger-inner::before{top:0;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1)}
.seovietmenu__toggle.is-active .hamburger-inner::after{top:0;opacity:0;-webkit-transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear;transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear}
.seovietmenu__toggle .hamburger-inner,.seovietmenu__toggle .hamburger-inner::after,.seovietmenu__toggle .hamburger-inner::before{background-color:#333}
.seovietmenu__toggle .menu_title{display:block;font-size:10px}
.seovietmenu__alert{display:block;text-align:center;width:280px;height:50px;bottom:0;left:0;position:absolute;overflow:hidden;z-index:500;-webkit-transform:translateZ(0);transform:translateZ(0);background-image:-o-linear-gradient(top,rgba(14,101,182,0) 0,#f2f2f2 50%);background-image:linear-gradient(to bottom,rgba(14,101,182,0) 0,#f2f2f2 50%);background-repeat:no-repeat;background-size:100% 100%;background-position:0 50px;-o-transition:background-position .4s ease-in .3s;transition:background-position .4s ease-in .3s;will-change:auto;pointer-events:none}
@media (min-width:768px){
.seovietmenu__alert{width:360px}
}
.seovietmenu__container--scroll .seovietmenu__alert{background-position:0 0;-o-transition:background-position .4s ease-out;transition:background-position .4s ease-out;pointer-events:auto}
.seovietmenu__alert-content{width:150px;height:40px;position:absolute;bottom:-40px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);-o-transition:bottom .4s ease-in;transition:bottom .4s ease-in}
.seovietmenu__container--scroll .seovietmenu__alert-content{bottom:0;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:3;animation-iteration-count:3;-webkit-animation-duration:.6s;animation-duration:.6s;-webkit-animation-delay:1s;animation-delay:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-name:seoviet-arrowDown;animation-name:seoviet-arrowDown;-o-transition:bottom .4s ease-out .4s;transition:bottom .4s ease-out .4s}
.seovietmenu__container{-o-transition:none!important;transition:none!important;position:fixed;background-color:#f2f2f2;height:100%;top:0;line-height:19px;overflow:hidden;border:none;z-index:10000;box-shadow:0 0 12px rgba(0,0,0,.14)}
@media (max-width:767px){
.seovietmenu__container{width:280px}
}
@media (min-width:768px){
.seovietmenu__container{width:360px}
}
.seovietmenu--left .seovietmenu__container{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0);left:0}
.seovietmenu--right .seovietmenu__container{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0);right:-280px}
.seovietmenu--ready.seovietmenu--left .seovietmenu__container{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.seovietmenu--active.seovietmenu--left .seovietmenu__container,.seovietmenu--ready.seovietmenu--right .seovietmenu__container{-webkit-animation-timing-function:ease-out;-webkit-animation-duration:.5s;-webkit-animation-delay:0s;-webkit-animation-fill-mode:both}
.noie.seovietmenu--ready.seovietmenu--left .seovietmenu__container{-webkit-animation-name:seovietmenuOut;animation-name:seovietmenuOut}
.ie.seovietmenu--ready.seovietmenu--left .seovietmenu__container{-webkit-animation-name:seovietmenuOutIEphone;animation-name:seovietmenuOutIEphone}
@media (min-width:768px){
.ie.seovietmenu--ready.seovietmenu--left .seovietmenu__container{-webkit-animation-name:seovietmenuOutIEtablet;animation-name:seovietmenuOutIEtablet}
}
.seovietmenu--ready.seovietmenu--right .seovietmenu__container{animation-timing-function:ease-out;animation-duration:.5s;animation-delay:0s;animation-fill-mode:both}
.noie.seovietmenu--ready.seovietmenu--right .seovietmenu__container{-webkit-animation-name:seovietmenuOutB;animation-name:seovietmenuOutB}
.ie.seovietmenu--ready.seovietmenu--right .seovietmenu__container{-webkit-animation-name:seovietmenuOutBIEphone;animation-name:seovietmenuOutBIEphone}
@media (min-width:768px){
.ie.seovietmenu--ready.seovietmenu--right .seovietmenu__container{-webkit-animation-name:seovietmenuOutBIEtablet;animation-name:seovietmenuOutBIEtablet}
}
.seovietmenu--active.seovietmenu--left .seovietmenu__container{animation-timing-function:ease-out;animation-duration:.5s;animation-delay:0s;animation-fill-mode:both}
.noie.seovietmenu--active.seovietmenu--left .seovietmenu__container{-webkit-animation-name:seovietmenuOutB;animation-name:seovietmenuOutB}
.ie.seovietmenu--active.seovietmenu--left .seovietmenu__container{-webkit-animation-name:seovietmenuOutBIEphone;animation-name:seovietmenuOutBIEphone}
@media (min-width:768px){
.ie.seovietmenu--active.seovietmenu--left .seovietmenu__container{-webkit-animation-name:seovietmenuOutBIEtablet;animation-name:seovietmenuOutBIEtablet}
}
.seovietmenu--active.seovietmenu--right .seovietmenu__container{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.noie.seovietmenu--active.seovietmenu--right .seovietmenu__container{-webkit-animation-name:seovietmenuIn;animation-name:seovietmenuIn}
.ie.seovietmenu--active.seovietmenu--right .seovietmenu__container{-webkit-animation-name:seovietmenuInIEphone;animation-name:seovietmenuInIEphone}
@media (min-width:768px){
.ie.seovietmenu--active.seovietmenu--right .seovietmenu__container{-webkit-animation-name:seovietmenuInIEtablet;animation-name:seovietmenuInIEtablet}
.seovietmenu--left .seovietmenu__container{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0);padding:0;left:0}
.seovietmenu--right .seovietmenu__container{-webkit-transform:translate3d(360px,0,0);transform:translate3d(360px,0,0);right:-360px}
}
.safari .seovietmenu__container{height:100%}
.preload .seovietmenu__container{opacity:0;z-index:-1}
.seovietmenu__panel{display:none;width:280px;height:80%;height:calc(100% - 160px);position:absolute;overflow:hidden;overflow-y:auto;top:160px;left:0;margin:0;padding:0;list-style-type:none;z-index:100;color:rgba(255,255,255,.1);background-color:#f2f2f2;scrollbar-color:#0a4b87 #f2f2f2;scrollbar-width:thin}
@media (min-width:768px){
.seovietmenu__panel{width:360px}
}
.seovietmenu__panel.has-scrollbar{overflow:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch}
.seovietmenu__panel::-webkit-scrollbar{width:2px;background-color:#000;border-radius:8px}
.seovietmenu__panel::-webkit-scrollbar-thumb{background-color:#ccc;outline:0;border-right:2px solid #ccc}
.seovietmenu__panel:first-of-type{z-index:160}
.seovietmenu__panel--parent-enter,.seovietmenu__panel--parent-leave{z-index:180;display:block}
.seovietmenu__panel--active-enter,.seovietmenu__panel--active-leave{z-index:190;display:block}
.seovietmenu__panel--active-enter{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.noie .seovietmenu__panel--active-enter{-webkit-animation-name:seoviet-panelIn;animation-name:seoviet-panelIn}
.ie .seovietmenu__panel--active-enter{-webkit-animation-name:seoviet-panelInIEphone;animation-name:seoviet-panelInIEphone}
@media (min-width:768px){
.ie .seovietmenu__panel--active-enter{-webkit-animation-name:seoviet-panelInIEtablet;animation-name:seoviet-panelInIEtablet}
}
.seovietmenu__panel--active-leave{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.noie .seovietmenu__panel--active-leave{-webkit-animation-name:seoviet-panelOut;animation-name:seoviet-panelOut}
.ie .seovietmenu__panel--active-leave{-webkit-animation-name:seoviet-panelOutIEphone;animation-name:seoviet-panelOutIEphone}
@media (min-width:768px){
.ie .seovietmenu__panel--active-leave{-webkit-animation-name:seoviet-panelOutIEtablet;animation-name:seoviet-panelOutIEtablet}
}
.seovietmenu__panel--parent-enter{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.noie .seovietmenu__panel--parent-enter{-webkit-animation-name:seovietmenuOut;animation-name:seovietmenuOut}
.ie .seovietmenu__panel--parent-enter{-webkit-animation-name:seovietmenuOutIEphone;animation-name:seovietmenuOutIEphone}
@media (min-width:768px){
.ie .seovietmenu__panel--parent-enter{-webkit-animation-name:seovietmenuOutIEtablet;animation-name:seovietmenuOutIEtablet}
}
.seovietmenu__panel--parent-leave{-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.noie .seovietmenu__panel--parent-leave{-webkit-animation-name:seovietmenuOutB;animation-name:seovietmenuOutB}
.ie .seovietmenu__panel--parent-leave{-webkit-animation-name:seovietmenuOutBIEphone;animation-name:seovietmenuOutBIEphone}
@media (min-width:768px){
.ie .seovietmenu__panel--parent-leave{-webkit-animation-name:seovietmenuOutBIEtablet;animation-name:seovietmenuOutBIEtablet}
}
.seovietmenu__panel.lvl-0{text-transform:uppercase}
.seovietmenu__panel.lvl-1{text-transform:none}
.seovietmenu__panel>ul{margin:0;padding:0}
.seovietmenu__panel>ul li{position:relative;font-size:0;padding-right:0;margin-bottom:0;line-height:0;border-top:1px solid #d5d5d5}
.seovietmenu__panel ul{border-bottom:1px solid #d5d5d5}
.seovietmenu__panel>ul li a{display:inline-block;vertical-align:top;text-decoration:none!important;width:100%;outline:0!important;pointer-events:none;letter-spacing:.3px;-o-transition:color .3s ease-out,background-color .3s ease-out;transition:color .3s ease-out,background-color .3s ease-out;padding:10px 20px;font-size:14px;line-height:19px;overflow:hidden;color:#333;-ms-touch-action:manipulation;touch-action:manipulation;min-height:40px}
.seovietmenu__panel>ul li>.seovietmenu__btn--enter+a{padding-right:40px;margin-right:-40px}
.seovietmenu__panel--active{z-index:170;display:block}
.seovietmenu__panel--active>ul li a{pointer-events:auto}
.seovietmenu__btn--enter,.seovietmenu__btn--leave{font-size:13px;cursor:pointer;display:block;position:absolute;padding:0;top:0;height:100%;text-align:center;-ms-touch-action:manipulation;touch-action:manipulation;background-repeat:no-repeat;background-position:50% 50%;background-size:24px 24px;-o-transition:background-color .3s ease-out;transition:background-color .3s ease-out}
.seovietmenu__btn--enter:hover,.seovietmenu__btn--leave:hover{-o-transition:none;transition:none}
.seovietmenu__btn--enter{z-index:0;left:auto;right:0;color:#333;background-color:rgba(255,255,255,.1);border-left:1px solid #d5d5d5;width:40px;height:40px;line-height:40px}
.seovietmenu__btn--enter:before{content:"";display:block;width:1px;position:absolute;top:3px;bottom:3px;left:-2px;background-color:transparent;-webkit-transform:translateZ(0);transform:translateZ(0)}
.seovietmenu__btn--leave{left:0;right:auto;color:#333;border-right:1px solid #d5d5d5;background-color:transparent;width:40px;height:40px;line-height:40px}
.seovietmenu__leave{font-size:14px;color:#333;background-color:rgba(255,255,255,.1);cursor:pointer;display:block;position:relative;padding:0 40px;text-align:center;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;width:100%;border-bottom:1px solid #d5d5d5;height:40px;line-height:40px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin-right:-44px}
.seovietmenu__leave+.seovietmenu__btn--enter{bottom:0;height:calc(100% - 40px);top:auto}
.seovietmenu__path{color:#ffc107!important;background-color:transparent!important}
.seovietmenu--overflow{overflow-x:hidden!important}
.seovietmenu--left:before,.seovietmenu--right:before{content:"";display:block;height:100%;position:fixed;top:0;background-color:rgba(255,255,255,.01);z-index:-1;-o-transition:background-color .4s ease-out .5s,z-index .8s linear;transition:background-color .4s ease-out .5s,z-index .8s linear;width:100%}
.seovietmenu--active:before{background-color:rgba(255,255,255,.6);-o-transition:background-color .4s ease-in;transition:background-color .4s ease-in;z-index:9000}
.seovietmenu--active>body .container *{-ms-touch-action:none;touch-action:none;pointer-events:none}
@media (max-width:767px){
.seovietmenu--active>body *{pointer-events:none}
.seovietmenu--active>body .seovietmenu__container,.seovietmenu--active>body .seovietmenu__container *,.seovietmenu--active>body .seovietmenu__toggle,.seovietmenu--active>body .seovietmenu__toggle *{pointer-events:auto}
.seovietmenu--active>body .seovietmenu__container .seovietmenu__alert{pointer-events:none}
.seovietmenu--active>body .seovietmenu__container--scroll{pointer-events:auto}
}
@media (max-width:1199px){.seovietmenu--active.has-body-scrollbar{overflow:hidden;overflow-y:scroll;height:auto;min-height:100%;-webkit-overflow-scrolling:touch}}
.seovietmenu--active.seovietmenu--left:before{right:0}
.seovietmenu--active.seovietmenu--right:before{left:0}
.seovietmenu--swipe{position:relative;overflow-x:hidden!important}
.seovietmenu--swipe body{position:relative}.seovietmenu--swipe.seovietmenu--left body{-o-transition:left .5s ease-out;transition:left .5s ease-out;left:0}
.seovietmenu--swipe.seovietmenu--right body{-o-transition:right .5s ease-out;transition:right .5s ease-out;right:0}
.seovietmenu--swipe.seovietmenu--active.seovietmenu--left body{left:280px}
@media (min-width:768px){.seovietmenu--swipe.seovietmenu--active.seovietmenu--left body{left:360px}}
.seovietmenu--swipe.seovietmenu--active.seovietmenu--right body { right:280px }
@media (min-width:768px) { .seovietmenu--swipe.seovietmenu--active.seovietmenu--right body { right:360px } }
.seovietmenu__sr-only { position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;-webkit-clip-path:inset(50%);clip-path:inset(50%);border:0}
@-webkit-keyframes seoviet-panelIn{0%{-webkit-transform:translate3d(280px,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}@keyframes seoviet-panelIn{0%{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes seoviet-panelOut{0%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(280px,0,0)}}@keyframes seoviet-panelOut{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0)}}@-webkit-keyframes seovietmenuIn{0%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0)}}@keyframes seovietmenuIn{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}}@-webkit-keyframes seovietmenuOut{0%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0)}}@keyframes seovietmenuOut{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}}@-webkit-keyframes seovietmenuOutB{0%{-webkit-transform:translate3d(-280px,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}@keyframes seovietmenuOutB{0%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@media (min-width:768px){@-webkit-keyframes seoviet-panelIn{0%{-webkit-transform:translate3d(360px,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}@keyframes seoviet-panelIn{0%{-webkit-transform:translate3d(360px,0,0);transform:translate3d(360px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes seoviet-panelOut{0%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(360px,0,0)}}@keyframes seoviet-panelOut{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(360px,0,0);transform:translate3d(360px,0,0)}}@-webkit-keyframes seovietmenuIn{0%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0)}}@keyframes seovietmenuIn{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}}@-webkit-keyframes seovietmenuOut{0%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0)}}@keyframes seovietmenuOut{0%{-webkit-transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0)}}@-webkit-keyframes seovietmenuOutB{0%{-webkit-transform:translate3d(-360px,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}@keyframes seovietmenuOutB{0%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}}@-webkit-keyframes seoviet-panelInIEphone{0%{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes seoviet-panelInIEphone{0%{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes seoviet-panelOutIEphone{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0)}}@keyframes seoviet-panelOutIEphone{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(280px,0,0);transform:translate3d(280px,0,0)}}@-webkit-keyframes seovietmenuInIEphone{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}}@keyframes seovietmenuInIEphone{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}}@-webkit-keyframes seovietmenuOutIEphone{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}}@keyframes seovietmenuOutIEphone{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}}@-webkit-keyframes seovietmenuOutBIEphone{0%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes seovietmenuOutBIEphone{0%{-webkit-transform:translate3d(-280px,0,0);transform:translate3d(-280px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes seoviet-panelInIEtablet{0%{-webkit-transform:translate3d(360px,0,0);transform:translate3d(360px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes seoviet-panelInIEtablet{0%{-webkit-transform:translate3d(360px,0,0);transform:translate3d(360px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes seoviet-panelOutIEtablet{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(360px,0,0);transform:translate3d(360px,0,0)}}@keyframes seoviet-panelOutIEtablet{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(360px,0,0);transform:translate3d(360px,0,0)}}@-webkit-keyframes seovietmenuInIEtablet{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}}@keyframes seovietmenuInIEtablet{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}}@-webkit-keyframes seovietmenuOutIEtablet{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}}@keyframes seovietmenuOutIEtablet{0%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}100%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}}@-webkit-keyframes seovietmenuOutBIEtablet{0%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes seovietmenuOutBIEtablet{0%{-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0)}100%{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@-webkit-keyframes seoviet-arrowDown{0%,100%{opacity:1}40%{opacity:0}60%{opacity:.5}}@keyframes seoviet-arrowDown{0%,100%{opacity:1}40%{opacity:0}60%{opacity:.5}}