@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap");
html{font-size:62.5%;}
body {font-family: 'Noto Sans', Arial, sans-serif;font-size: 14px;}
a {color: #f0770b;transition: all 0.3s ease-in-out;}
a:hover {color: #f0770b;}
a:hover, a:active, a:focus, a:visited {text-decoration: none}
img {max-width: 100%;height: auto}
@font-face {font-family: "IcoFont";font-weight: normal;font-style: "Regular";src: url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/webfonts/iconfonts/icofont.woff2) format("woff2"),url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/webfonts/iconfonts/icofont.woff) format("woff");}
.site-boxed {max-width: 1140px;margin: 0 auto;}
.site-boxed .container {padding-left: 0;padding-right: 0;} .site-title, .site-description {font-size: 0;margin: 0}
.site-header .header-content {position: relative}
.logged-in .site-header .header-main.fixed {
top: 32px
}
.site-header .header-main.fixed {
position: fixed;
width: 100%;
top: 0;
background: rgba(255, 255, 255, 0.8);
z-index: 99999;
animation: stuckMoveDown .6s;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.23);
}
.site-header .header-main.fixed .logo img {
max-height: 100px;
}
@keyframes stuckMoveDown {
0% {
transform: translateY(-100%)
}
100% {
transform: translateY(0)
}
} @media (max-width: 992px) {.site-header .logo img { margin: 10px 0;}}
.site-header .logo img { max-height: 250px;} @media (min-width: 992px) {.header-banner .header-main {background: url(/banner/bg_header.png) center no-repeat;padding: 10px 0;}}   .main-navigation ul{padding:0;margin:0}
.main-navigation ul.menu li{position:relative;display:block}
.main-navigation ul.menu>li{display:inline-block}
.main-navigation ul.menu li a{font-size:14px;color:#FFF;display:block;text-transform:none;white-space:nowrap;padding:8px 20px 8px 8px;font-weight:400}
.main-navigation ul.menu>li>a{font-size:15px;font-weight:400;padding:0 20px;line-height:40px;height:40px;color:#FFF;text-transform:uppercase}
.main-navigation ul.menu>li.menu-item-has-children>a:after{content:font-family:IcoFont}
.main-navigation ul.menu>li.menu-item-has-children:hover>a:after{content:}
.main-navigation ul.menu>li.li-home>a:before{content:font-family:IcoFont;margin-right:5px}
.main-navigation ul.menu>li.current-menu-item>a,.main-navigation ul.menu>li>a:hover,.site-header.logo-left .main-navigation ul.menu>li.current-menu-item>a,.site-header.logo-left .main-navigation ul.menu>li>a:hover{background:#f0770b}
.main-navigation ul ul{background-color:#f0770b;min-width:220px;left:0;position:absolute;box-shadow:0 5px 5px rgba(0,0,0,.3);opacity:0;visibility:hidden;z-index:99999;-webkit-transition:.2s ease-out;-moz-transition:.2s ease-out;transition:.2s ease-out;-webkit-transform:translate3d(0,20px,0);-moz-transform:translate3d(0,20px,0);-ms-transform:translate3d(0,20px,0);-o-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}
.main-navigation ul li:hover>ul{opacity:1;visibility:visible;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.main-navigation ul.menu ul>li.current-menu-item>a,.main-navigation ul.menu ul>li>a:hover,.site-header.logo-left .main-navigation ul.menu ul>li.current-menu-item>a,.site-header.logo-left .main-navigation ul.menu ul>li>a:hover{background:#ca1023}
.main-navigation ul ul li a{border-bottom:1px solid #f2f2f2}.main-navigation ul ul li:last-child a{border-bottom:none}
.main-navigation ul ul li.menu-item-has-children>a:before{position:absolute;left:0;top:3px;content:"\ea69";font-family:IcoFont}
.main-navigation ul ul ul{position:absolute;left:80%;top:0;opacity:0;visibility:hidden;-webkit-transition:transform .2s ease-out;-moz-transition:transform .2s ease-out;transition:transform .2s ease-out}
.main-navigation ul ul ul li{width:100%;opacity:1}.main-navigation ul ul li:hover>ul{opacity:1;left:100%;visibility:visible}
.main-navigation .navbar-actions{position: absolute;right: 0;top: 0}
.site-header.header-banner .main-navigation,.site-header.header-logo-style2 .main-navigation{background:#2adeb1}
.site-header.header-logo .main-navigation{background:0 0}
.site-header.header-logo .main-navigation ul.menu{float:right}
.site-header.header-logo .main-navigation ul.menu>li{margin-right:30px}
.site-header.header-logo .main-navigation ul.menu>li:last-child{margin-right:0}
.site-header.header-logo .main-navigation ul.menu>li>a{color:#333;padding:0;line-height:80px;height:80px} .heading{margin:0 0 15px;padding:0;font-size:18px;color:#FFF;background: #f8f8f8;font-weight:bold;line-height:45px;height: 45px;text-transform:uppercase;border-bottom:1px solid #f0770b}
.heading a:not(.more_product){position:relative;display:inline-block;color:#FFF;background: #f0770b;min-width: 250px;padding-left: 10px;padding-right: 25px;}
.heading a:not(.more_product):before { content:font-family: IcoFont; margin-right: 10px; }

.heading a:not(.more_product):after {content: '';position: absolute;left: calc(100% - 2px);top: 0;background: url(/banner/bg-title.png) no-repeat top left;width: 60px;height: 100%;display: block;}
.more_product {text-transform: none;float: right;font-size: 12px;font-weight: normal;padding-right: 10px;}
.page-title,h1.entry-title{font-size:22px;font-weight:600;color:#333;margin:5px 0 15px; text-align: center;}
.page-title-bar {padding: 20px 0 10px 0;margin-bottom: 20px;}
.page-title-bar .title {font-size: 24px;line-height: 1.4;margin-top: 0;}
.breadcrumb{padding:5px 0;margin-bottom:10px;background:0 0;color:#333}
#back-top{border:0 dotted #c12428;width:50px;height:50px;right:25px;bottom:120px;position:fixed;cursor:pointer;transform:rotate(0);transform-origin:center center 0;z-index:1000}
#back-top, #back-top:after, #back-top:before, #back-top .backtotop-morph {transition: all .25s ease-in-out 0s;}
#back-top {margin: 0;}
#back-top:after,#back-top:before{height:4px;position:absolute;background-color:#c12428;content:""}
#back-top:after{width:25px;right:5px;top:50%;transform:rotate(45deg) translateY(-50%);transform-origin:center top 0}
#back-top:before{width:18px;left:6px;top:56%;transform:rotate(-45deg) translateY(-50%);transform-origin:center top 0}
#back-top:hover {transform: rotate(90deg);}
#back-top:hover:before {width:30px;left:10px;top:30%;background-color:#c12428;transform:rotate(0) translateY(-8px)}
#back-top:hover:after {width:30px;right:10px;top:60%;background-color:#c12428;transform:rotate(0) translateY(8px)}
#back-top .backtotop-morph {background-color:#c12428;width:15px;height:4px;left:100%;top:45%;position:absolute;opacity:0;margin-bottom:-20px;transform:translate(-50%)}
#back-top .backtotop-morph:before {width:0;height:0;left:-7px;top:-4px;position:absolute;border-color:transparent #c12428 transparent transparent;border-style:solid;border-width:6px 10px 6px 0;content:""}
#back-top:hover .backtotop-morph {left: 40%;opacity: 1;}
iframe[name='google_conversion_frame'] {height: 0 !important;width: 0 !important;line-height: 0 !important;font-size: 0 !important;margin-top: -13px;float: left}
.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px}
.col-xs-15 {-webkit-box-flex: 0;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}
@media (min-width: 768px) { .col-md-15 {-webkit-box-flex: 0;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}}
@media (min-width: 992px) {.col-lg-15 {-webkit-box-flex: 0;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}}
@media (min-width: 1200px) {.col-xl-15 {-webkit-box-flex: 0;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}}
.wpcf7 label {font-weight: 600;display: block}
.wpcf7 div.wpcf7-validation-errors {margin: 2em 0 1em}
.wpcf7 span.wpcf7-not-valid-tip {margin: 5px 0}
.page_nav {text-align:center;margin-bottom:20px}
.page_nav *{display:inline-block;padding:3px 10px;background:#FFF;border:1px solid #f0770b;margin:0}
.page_nav .current, .page_nav .page-numbers:hover {background: #f0770b;color: #FFF;}
.screen-reader-text {display: none}
.btn {font-size: 14px;background: #f0770b;color: #FFF;}
.btn.focus, .btn:focus, .btn:hover {color: #FFF;box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2);}
.btn-primary {border-color: #f0770b;}
.btn-primary:hover {color: #fff;background-color: #f0770b;border-color: #f0770b;}
.form-control {height: 34px;font-size: 14px;}
textarea.form-control {height: 160px;} ::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.3);background-color:#F5F5F5;border-radius:10px}
::-webkit-scrollbar{width:8px;background-color:#F5F5F5}
::-webkit-scrollbar-thumb{background-color:#807d7d;border-radius:8px} .alignleft {display: inline;float: left;margin-right: 1.5em}
.alignright {display: inline;float: right;margin-left: 1.5em}
.aligncenter {clear: both;display: block;margin-left: auto;margin-right: auto} .content-sidebar-wrap:before,.content-sidebar-wrap:after {clear: both;display: table;content: " "}
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after {content: "";display: table;table-layout: fixed}
.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after {clear: both} .widget {margin: 0 0 1.5em;}
.widget select {max-width: 100%;}
.sidebar .widget {margin: 0 0 20px 0;}
.sidebar .widget-title{font-size:15px;color:#FFF;font-weight:bold;text-transform:uppercase;text-align:left;background:#f0770b;padding:10px;margin:0}
.widget_supports .widget-title:before {content: font-family: 'IcoFont';margin-right: 10px;}
.widget_nav_menu .widget-title:before {content: font-family: 'IcoFont';margin-right: 10px;}
.sidebar .widget ul {padding: 0;}
.sidebar .widget_nav_menu > div, .widget_supports .list-supporter, .sidebar .content-feature-page, .sidebar .slider-products,.sidebar .list-post-item, .sidebar .widget_text .textwidget,.sidebar .widget_recently_viewed_products .product_list_widget {border: 1px solid #cccccc;border-top: none;}
.sidebar .widget_list_posts .list-post-item, .sidebar .widget_list_view_posts .list-post-item,.sidebar .widget .content-feature-page,.sidebar .textwidget, .sidebar .widget_recently_viewed_products .product_list_widget {padding: 10px;}
.sidebar .widget:not(.widget_slider_products) ul {margin: 0;}
.sidebar .widget:not(.widget_slider_products) ul li {display: block;} .sidebar .widget_nav_menu ul li{position:relative;padding:9px 10px 9.7px}
.sidebar .widget_nav_menu ul.menu>li:not(:last-child){border-bottom:1px solid #ccc}
.sidebar .widget_nav_menu ul li a{font-size:14px;font-weight:400;display:block;color:#333}
.sidebar .widget_nav_menu ul li a:before{content: color: #f0770b;font-family: 'IcoFont';margin-right:5px}
.sidebar .widget_nav_menu .menu-item-has-children .sub-menu{background:#FFF;position:absolute;top:-1px;left:100%;z-index:99;opacity:0;visibility:hidden;min-width:200px;border:1px solid #ccc;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;-moz-transform:translate(40px,0);-webkit-transform:translate(40px,0);transform:translate(40px,0)}
.content-sidebar .sidebar .widget_nav_menu .menu-item-has-children .sub-menu,.sidebar-content-sidebar .sidebar.sidebar-secondary .widget_nav_menu .menu-item-has-children .sub-menu{right:100%;left:initial;-moz-transform:translate(-40px,0);-webkit-transform:translate(-40px,0);transform:translate(-40px,0)}
.content-sidebar .sidebar .widget_nav_menu .menu-item-has-children:hover .sub-menu,.sidebar .widget_nav_menu .menu-item-has-children:hover>.sub-menu,.sidebar-content-sidebar .sidebar.sidebar-secondary .widget_nav_menu .menu-item-has-children:hover .sub-menu{opacity:1;visibility:visible;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)} .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {border-radius: 0 !important;}
.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input::placeholder { color: #000000;font-style: normal;}
.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {border-color: transparent #f0770b transparent !important;}
.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {background-color: #f0770b !important;}
@media (min-width: 992.98px) {
.icon-search>a {padding:0;line-height:37px}
.icon-search img {cursor:pointer;color:#333;display:inline-block;padding:5px;background:#FFF;border-radius:3px}
.icon-search .dgwt-wcas-search-wrapp {min-width:initial!important}
.icon-search .dgwt-wcas-search-form {display:none;position:absolute;z-index:999;right:0;border-radius:0;background:#FFF;box-shadow:0 2px 6px rgba(0,0,0,.2);width:80%;min-width:340px;padding:5px 10px;line-height:1.4}
.icon-search .dgwt-wcas-search-form label {float:left;margin-bottom:0;width:calc(100% - 70px)}
.icon-search .dgwt-wcas-search-form label input[type=search] {width:100%;height:34px;padding:5px 15px;border:1px solid #ccc;border-right:none;outline-width:0;font-weight:400;font-size:13px;color:#252525}
.icon-search .dgwt-wcas-search-form input[type=submit] {float:left;width:70px;background:#f0770b;color:#fff;text-indent:0;border:none;padding:8px 5px;font-size:13px;height:34px} .dgwt-wcas-search-form label {width:calc(100% - 22px);float:left;margin-bottom:0}
.dgwt-wcas-search-form input[type=search] {width:100%;border:none;outline-width:0;color:#333;background:#FFF;font-weight:400}
.dgwt-wcas-search-form input[type=submit] {float:right;background:url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/images/btsearch.png) center center no-repeat;text-indent:-9999px;border:none;width:22px;cursor:pointer;height:22px;outline-width:0}
.dgwt-wcas-search-form input[type=search]::-webkit-input-placeholder,
.dgwt-wcas-search-form input[type=search]::-moz-placeholder,
.dgwt-wcas-search-form input[type=search]:-ms-input-placeholder,
.dgwt-wcas-search-form input[type=search]:-moz-placeholder {color: #333333;font-weight: normal;}
.sidebar .dgwt-wcas-search-form {padding: 5px 12px;background: #f0770b;overflow: hidden;}
.main-navigation .site-header input[type=search] {color: #252525}
}
@media (max-width: 992.98px) { div.icon-search {display:inline-block;outline:0;background:#f0770b;color:#FFF;text-align:center;width:40px;height:40px;line-height:40px}
div.icon-search>a {color:#FFF}
#search {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.75);-webkit-transition:all .9s ease-in-out;-moz-transition:all .9s ease-in-out;-ms-transition:all .9s ease-in-out;-o-transition:all .9s ease-in-out;transition:all .9s ease-in-out;-webkit-transform:translate(0,-100%);-moz-transform:translate(0,-100%);-ms-transform:translate(0,-100%);-o-transform:translate(0,-100%);transform:translate(0,-100%);opacity:0;visibility:hidden}
#search.open {-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0);opacity:1;visibility:visible;z-index:99999999}
#search .woocommerce-product-search {position:absolute;top:50%;left:0;margin-top:-51px;width:60%;margin-left:20%;color:#FFF;background:0 0;border-bottom:2px solid rgba(255,255,255,.5);border-left:0 solid transparent;border-right:0 solid transparent;font-size:30px;text-align:center;outline:0;padding:0 10px}
#search .close {position:fixed;top:15px;right:15px;opacity:1;font-size:27px;color:#fff;cursor:pointer}
.icon-search_custom i {color:#999} .dgwt-wcas-search-wrapp label {width: 100%;margin-bottom: 0;}
.dgwt-wcas-search-wrapp .dgwt-wcas-search-submit,.dgwt-wcas-search-wrapp input[type=search] {height:29px;outline:0;border:none}
.dgwt-wcas-search-wrapp input[type=search] {width:100%;background:0 0;color:#333!important;font-weight:400;padding:0 28px 0 0;height:100%;font-size:16px}
.dgwt-wcas-search-wrapp .dgwt-wcas-search-submit {position:absolute;right:0;z-index:1;text-indent:-9999px;width:40px;cursor:pointer}
.dgwt-wcas-search-wrapp input[type=search]::-webkit-input-placeholder {color:#FFF}
.dgwt-wcas-search-wrapp input[type=search]::-moz-placeholder {color:#FFF}
.dgwt-wcas-search-wrapp input[type=search]:-ms-input-placeholder {color:#FFF}
.dgwt-wcas-search-wrapp input[type=search]:-moz-placeholder {color:#FFF}
.sidebar .dgwt-wcas-search-wrapp {padding:4px 12px;background:#f0770b;overflow:hidden}
.site-header .dgwt-wcas-search-wrapp {position:absolute;top:6px;right:5px;z-index:9;width:200px;border-radius:3px;background:#FFF;overflow:hidden}
.site-header .dgwt-wcas-search-input {color: #333333}
#search .dgwt-wcas-search-wrapp {position:absolute;top:50%;left:0;width:80%;margin-left:10%;color:#fff;background:0 0;border-left:0 solid transparent;border-right:0 solid transparent;text-align:center;outline:0}
} .sidebar .widget_recent_entries ul li {padding: 5px 10px;border-bottom: 1px solid #cccccc}
.sidebar .widget_recent_entries ul li:last-child {border-bottom: none;}
.sidebar .widget_recent_entries .post-date {display: block;} .widget .list-post-item li {margin-bottom:10px}
.widget .list-post-item li:last-child {margin-bottom:0}
.widget .list-post-item .post:after {clear:both}
.widget .list-post-item .alignleft {width:100px;height:70px;margin-right:10px}
.widget .list-post-item .alignright {width:100px;height:70px;margin-left:10px}
.widget .list-post-item li a img {width: 100%;;height: 100%;object-fit: cover;object-position: center;}
.widget .list-post-item .aligncenter {text-align:center}
.widget .list-post-item h3 {margin:0 0 5px;font-size:14px;font-weight:500;line-height:1.5;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3}
.widget .list-post-item h3 a {color:inherit} @media (min-width: 1200px) { .widget_supports .list-supporter { padding-top: 195px; background: url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/images/bg-support.png) top center no-repeat,#f8f8f8;background-size: contain; } }
.widget_supports .support-style-1 {background-color:#FFF}
.widget_supports .support-style-1 .supporter {padding:0 10px 10px}
.widget_supports .support-style-1 li {padding:5px 0;font-size:14px;color:#333;border-top:1px solid #333}
.widget_supports .support-style-1 li:first-child {border-top:none}
.widget_supports .support-style-1 li:last-child {border-bottom:none}
.widget_supports .support-style-1 i {width:22px;margin-right:12px}
.widget_supports .support-style-2 .supporter {margin:0 8px;padding:5px 8px 5px 50px;border-top:1px solid #ddd;background:url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/images/ic-phone.png) 7px 10px no-repeat;position:relative}
.widget_supports .support-style-2 .supporter:first-child {border-top:none}
.widget_supports .support-style-2 .name {font-weight:600}
.widget_supports .support-style-2 .phone {font-size:20px;color:red;font-weight:600}
.widget_supports .support-style-2 .skype {position:absolute;right:7px;bottom:10px;z-index:1}
.widget_supports .list-supporter .email {padding: 5px;}
.widget_supports .list-supporter .email .icofont-email {display: none;}
.widget_supports .support-style-2 .email a {color:#333}
.widget_supports .support-style-3 .supporter:not(:last-child) {border-bottom:2px solid #FFFFFF}
.widget_supports .support-style-3 {border: 1px solid #FFFFFF;}
.widget_supports .support-style-3 ul {position:relative;padding:5px;margin-bottom: 0;}
.widget_supports .support-style-3 ul li {display: block;}
.widget_supports .support-style-3 i {margin-right:5px;display: inline-block;border: 1px solid #ebebeb;width: 30px;height: 30px;line-height: 30px;text-align: center;color: #f0770b;}
.widget_supports .support-style-3 a {color: #333333;font-weight: bold;font-size: 13px;} .sidebar .content-feature-page,.sidebar .slider-products {padding:10px 10px 0}
html .widget_slider_products .slick-carousel.slick-dotted.slick-slider {margin:0}
.item-product-slide {overflow:hidden;margin-bottom:15px}
.item-product-slide:last-child {border-bottom:none;margin-bottom:0}
.item-product-slide .alignleft,.item-product-slide .alignright {display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;align-items:center;width:100px;height:100px;background:#FFF}
.item-product-slide .alignleft {margin-right:15px}
.item-product-slide .alignright {margin-left:15px}
.item-product-slide .alignleft>div,.item-product-slide .alignright>div {width:100%}
.slick-slide.item-product-slide img {width:auto;display:inline-block;max-height:100px;max-width:100px}
.item-product-slide .alignnone img {margin:0 auto 10px}
.item-product-slide h3 {margin:5px 0;font-size:14px;font-weight:500;line-height:1.2;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3}
.item-product-slide h3 a {color:#333}
.item-product-slide .price {font-weight:700;color:red;margin:0}
.item-product-slide .price del,.item-product-slide .price ins {display:block;text-decoration:none}
.item-product-slide .price ins {margin-right:0}
.item-product-slide .price del {text-decoration:line-through;font-weight:400;color:#666} .sidebar .widget_listpost_widget ul {padding: 20px 10px;background: #fafafa;} html .slick-carousel.slick-dotted.slick-slider {padding-bottom:40px;margin-bottom:0}
.slick-slider .slick-slide,.slick-slider .slick-slide a {outline:0}
.slick-slider .slick-next,.slick-slider .slick-prev {z-index:1}
.slick-slider .slick-next {right:35px}.slick-slider .slick-prev {left:15px}
.slick-slider .slick-arrow:before {font-family:IcoFont!important}
.slick-prev:before {content:"\ea9d"!important}
.slick-next:before {content:"\eaa0"!important}
.slick-slider .slick-next:before,.slick-slider .slick-prev:before {opacity:1;display:inline-block;width:40px;height:40px;line-height:40px;text-align:center;background:#afafb1;color:#FFF}
.slick-slider .slick-next:hover:before,.slick-slider .slick-prev:hover:before {color:#333}
.slick-slider .slick-dots {bottom:10px}
.slick-slider .slick-dots li button:before {font-size:14px;color:#d8d8d8}
.slick-slider .slick-dots li {margin:0}
.slick-slider .slick-dots li.slick-active button:before {color:#00a9b2;opacity:1}
@media (max-width:575.5px) {
.slick-slider .slick-prev {left:5px}
.slick-slider .slick-next {right:5px}
}
.slick-slider {margin-left:-15px!important;margin-right:-15px!important}
.slick-slide {padding-left:15px!important;padding-right:15px!important} .widget_featuredpage .entry-title {font-size:15px;font-weight:600;line-height:1.4;margin:0}
.widget_featuredpage .entry-title a {color:#f0770b}
.widget_featuredpage .alignleft,.widget_featuredpage .alignright {width:30%}
.widget_featuredpage .alignleft {margin-right:10px}
.widget_featuredpage .alignright {margin-left:10px}
.widget_featuredpage .aligncenter {margin-bottom:10px}
.widget_featuredpage p {font-size:13px;text-align:justify} .widget_information li {padding:3px 0 3px 22px;position:relative}
.widget_information i {font-size:12px;position:absolute;left:0;top:7px;width:14px;text-align:center}
.widget_information li.label-company {padding-left:0;text-transform:uppercase;font-weight:700}
.widget_information li.label-company i {display:none} .widget_social ul {margin: 0;padding: 0;}
.widget_social ul li {display: inline-block;margin-right: 5px;}
.widget_social ul li a{display:inline-block;height:30px;width:30px;line-height:30px;color:#333;border-radius:50%;font-size:16px;text-align:center;transition:all .3s ease-out}
.widget_social .icon_facebook a {background: #3b5999;  color: #FFF}
.widget_social .icon_twitter a {background: #55acee;  color: #FFF}
.widget_social .icon_google a {background: #dd4b39;  color: #FFF}
.widget_social .icon_youtube a {background: #cd201f;  color: #FFF}
.widget_social .icon_linkedin a {background: #0077B5;  color: #FFF}
.widget_social .icon_pinterest a {background: #bd081c;  color: #FFF}
.widget_social .icon_instagram a {background: #e4405f;  color: #FFF}
.widget_social ul li a:hover {transform: translateY(-5px)} .tagcloud a {font-size:14px!important;display:inline-block;border:1px solid #f0770b;margin:0 3px 5px 0;padding:2px 5px;border-radius:3px;color:#f0770b}
.tagcloud a:hover {background:#f0770b;color:#FFF} .sidebar .cpd{padding:5px 10px}
.sidebar .cpd li{padding:5px 0;border-bottom:1px solid #ccc}
.sidebar .cpd li:last-child{border-bottom:none} .wtb-slider {margin-bottom: 20px;}
html .theme-default .nivo-controlNav {width: 100%;position: absolute;bottom: 0;left: 0;z-index: 1;} .comments-area .comment-list .comment-content a {word-wrap: break-word}
.comment-form label {display: block}
.comment-form textarea,.comment-form input[type="text"], .comment-form input[type="email"], .comment-form input[type="url"] {width: 100%;padding: 5px 10px}
.comment-form input, .comment-form textarea {border: 1px solid rgba(51, 51, 51, 0.1);color: rgba(51, 51, 51, 0.7)}
.comment-form input[type="submit"] {background: #f0770b;color: #FFF;padding: 5px 10px}
.comment-list {list-style: none;margin: 0;padding: 0}
.comment-list article, .comment-list .pingback, .comment-list .trackback {border-top: 1px solid #eaeaea;border-top: 1px solid rgba(51, 51, 51, 0.1);padding: 1.6em 0}
.comment-content {padding: 10px 20px 45px;margin: 25px 0 0;font-size: 15px;border: 1px solid #dfdfdf;border-radius: 3px;line-height: 1.5em !important}
.comment-list li .reply {position: absolute;margin: -45px 0 0 10px;padding: 5px 10px}
.comment-list .children {list-style: none;margin: 0}
.comment-list .children > li {padding-left: 0.8em}
.comment-author {padding: 10px 5px 0}
.comment-list li .avatar {background: #fff;float: left;margin: 0 10px 0 0px;border-radius: 50%;-moz-border-radius: 50%}
.comment-list p, .ping-list p {font-weight: normal;text-transform: none;margin: 10px 5px 10px 0;padding: 0;word-wrap: break-word}
.comment-list li .fn, .comment-list li .cfn {font-size: 16px;display: inline-block;margin: 10px 0 0}
.comment-list li .says {display: none} #formcmmaxweb {margin-bottom:20px}
#formcmmaxweb textarea.form-control  {height: auto;}
span.title_comment {font-size:20px;color:#606664;line-height:1.3em;font-weight:700;margin:15px 0;display:block}
.comment-author.vcard {width:25px}
.comment-author.vcard {float:left;clear:both;z-index:2;position:relative;text-align:center}
.commentlist {margin-top:10px}
.commentlist li {overflow:hidden;clear:both;margin-bottom:10px}
.commentlist .children {margin-top:10px}
.commentBody em {color:red}
.commentBody {position:relative;margin-left:35px;overflow:hidden}
.comment-meta.commentmetadata {position:relative;padding:0;margin:0 0 5px}
.noidungcomment {font-size:14px;line-height:22px}
.cancel-comment-reply a {display: block;margin: 5px 0;font-size:14px;text-decoration:none;color:#a9883f}
.nocomments {border-color:#D98D8D;background-color:#FFCECE;background-position:left -792px;color:#665252;padding:10px}
.comment-meta.commentmetadata .ngaythang {position:absolute;top:0;right:0;color:#f0770b;opacity:.3;font-size:12px}
.commentBody:hover .comment-meta.commentmetadata .ngaythang {opacity:1}
.commentBody .reply {float:right;margin:0;position:absolute;bottom:0;right:0}
.comment-meta.commentmetadata .fn {font-weight:700;color:#333;margin:0;text-transform:capitalize;font-size:16px;line-height:22px;margin-top:2px}
ol.commentlist_mw,ol.commentlist_mw ul.children {list-style:none;padding: 0;}
ol.commentlist_mw li {margin-bottom:10px}
ol.commentlist_mw>ul.children {margin:10px 0 15px 35px;background:#f8f8f8;padding:10px;position:relative;border: 1px solid #dfdfdf;}
ol.commentlist_mw>ul.children:before  {content: '';position: absolute;top: -11px;left: 13px;width: 0;height: 0;border-bottom: 11px solid #dfdfdf;border-left: 11px solid rgba(238,238,238,0);border-right: 11px solid rgba(238,238,238,0);}
ol.commentlist_mw>ul.children:after {content:'';position:absolute;top:-10px;left:14px;width:0;height:0;border-bottom:10px solid #f8f8f8;border-left:10px solid transparent;border-right:10px solid transparent}
div.error {color:red;font-size:14px;text-align:left;line-height:16px;margin:10px 0 0}
.tools_comment a {color:#f0770b;font-size:14px;position:relative;padding:0 15px 0 0;margin:0 7px 0 0;line-height:14px}
.tools_comment a:after {content:"";width:4px;height:4px;top:50%;margin-top:-2px;background:#999;position:absolute;right:0;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%}
.tools_comment a:last-child:after {display:none}
.tools_comment a:last-child {padding:0;margin:0}
.noidungcomment p {margin:0 0 5px} .page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0} embed, iframe, object {max-width: 100%} .wp-caption {margin-bottom: 1.5em;max-width: 100%}
.wp-caption img[class*="wp-image-"] {display: block;margin-left: auto;margin-right: auto}
.wp-caption .wp-caption-text {margin: 0.8075em 0}
.wp-caption-text {text-align: center} @-webkit-keyframes quick-alo-circle-anim{0%{-webkit-transform:rotate(0) scale(.5) skew(1deg);-webkit-opacity:.1}30%{-webkit-transform:rotate(0) scale(.7) skew(1deg);-webkit-opacity:.5}100%{-webkit-transform:rotate(0) scale(1) skew(1deg);-webkit-opacity:.1}}@-o-keyframes quick-alo-circle-anim{0%{-o-transform:rotate(0) scale(.5) skew(1deg);-o-opacity:.1}30%{-o-transform:rotate(0) scale(.7) skew(1deg);-o-opacity:.5}100%{-o-transform:rotate(0) scale(1) skew(1deg);-o-opacity:.1}}@-moz-keyframes quick-alo-circle-fill-anim{0%,100%{-moz-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{-moz-transform:rotate(0) -moz-scale(1) skew(1deg);opacity:.2}}@-webkit-keyframes quick-alo-circle-fill-anim{0%,100%{-webkit-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{-webkit-transform:rotate(0) scale(1) skew(1deg);opacity:.2}}@-o-keyframes quick-alo-circle-fill-anim{0%,100%{-o-transform:rotate(0) scale(.7) skew(1deg);opacity:.2}50%{-o-transform:rotate(0) scale(1) skew(1deg);opacity:.2}}@-moz-keyframes quick-alo-circle-img-anim{0%{transform:rotate(0) scale(1) skew(1deg)}10%,30%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-moz-transform:rotate(0) scale(1) skew(1deg)}}@-webkit-keyframes quick-alo-circle-img-anim{0%{transform:rotate(0) scale(1) skew(1deg)}10%,30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-webkit-transform:rotate(0) scale(1) skew(1deg)}}@-o-keyframes quick-alo-circle-img-anim{0%{transform:rotate(0) scale(1) skew(1deg)}10%,30%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{-o-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-o-transform:rotate(0) scale(1) skew(1deg)}}@keyframes quick-alo-circle-img-anim{0%,100%,50%{transform:rotate(0) scale(1) skew(1deg)}10%,30%{transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{transform:rotate(25deg) scale(1) skew(1deg)}} .quick-alo-ph-circle,.quick-alo-phone{width:100px;height:100px;background-color:transparent}
.alo-floating,.quick-alo-phone{text-align:center;cursor:pointer}
.alo-floating,.phone_text{line-height:40px;white-space:nowrap}
.quick-alo-phone{position:fixed;visibility:hidden;display:inline-block;z-index:200000!important;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0);-webkit-transition:visibility .5s;-moz-transition:visibility .5s;-o-transition:visibility .5s;transition:visibility .5s;bottom:0;left:0}
.quick-alo-phone.quick-alo-hover,.quick-alo-phone:hover{opacity:1}
.quick-alo-phone.quick-alo-show{visibility:visible}
.quick-alo-phone.quick-alo-green .quick-alo-ph-circle{border-color:#00aff2;opacity:.5}
.quick-alo-ph-circle,.quick-alo-ph-circle-fill{-webkit-border-radius:100%;-moz-border-radius:100%;opacity:.1;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;z-index:999999;position:absolute}
.quick-alo-ph-circle{border-radius:100%;border:2px solid rgba(30,30,30,.4);-webkit-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-moz-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-ms-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-o-animation:quick-alo-circle-anim 1.2s infinite ease-in-out;animation:quick-alo-circle-anim 1.2s infinite ease-in-out;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;-o-transform-origin:50% 50%;transform-origin:50% 50%}
.quick-alo-ph-circle-fill{width:80px;height:80px;top:10px;left:10px;background-color:#000;border-radius:100%;border:2px solid transparent;-webkit-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-moz-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-ms-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-o-animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;animation:quick-alo-circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s;-o-transform-origin:50% 50%;transform-origin:50% 50%}
.quick-alo-phone.quick-alo-green .quick-alo-ph-circle-fill{background-color:rgba(51,122,83,.7);opacity:.75!important}
.quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle{background-color:#00aff2}
.quick-alo-ph-img-circle{width:40px;z-index:999999;height:40px;top:30px;left:30px;position:absolute;background:url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/images/icon-phone.png) center center no-repeat rgba(30,30,30,.1);-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;opacity:.7;-webkit-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-moz-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-ms-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-o-animation:quick-alo-circle-img-anim 1s infinite ease-in-out;animation:quick-alo-circle-img-anim 1s infinite ease-in-out;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%}
.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle-fill,.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle-fill{background-color:rgba(51,122,83,.7);opacity:.75!important}
.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-img-circle,.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-img-circle{background-color:#75eb50}
.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle,.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle{border-color:#75eb50;opacity:.5}
.phone_text{position:absolute;bottom:30px;width:200px;right:-230px;height:40px;transform:translateX(-50%);background:0 0!important;color:#FFF;font-size:16px;padding:0 10px 0 30px;font-weight:700;border-radius:50px}
.alo-floating{display:block;left:10px;bottom:10px;position:fixed;z-index:9999;height:40px;font-size:14px;text-shadow:1px 1px 0 #000;border-radius:40px;max-width:250px;overflow:hidden;text-overflow:ellipsis;background:#e42222;padding:0 10px}
.alo-floating a{color:#FFF}
.alo-floating-zalo{bottom:100px;left:30px;padding-left:45px;background:url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/images/icon-zalo.png) 8px center no-repeat,#009dff;background-size:30px auto} .hotline-phone-ring-wrap{position:fixed;bottom:0;left:0;z-index:999999}
.hotline-phone-ring{position:relative;visibility:visible;background-color:transparent;width:110px;height:110px;cursor:pointer;z-index:11;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0);transition:visibility .5s;left:0;bottom:0;display:block}
.hotline-bar{position:absolute;background:#337ab7;height:45px;white-space:nowrap;line-height:40px;padding:0 10px 0 30px;background-size:100%;cursor:pointer;transition:all .8s;-webkit-transition:all .8s;z-index:9;border-radius:50px!important;left:42px;bottom:31px}
.hotline-bar>a{color:#fff;text-decoration:none;font-size:16px;font-weight:700;text-indent:32px;letter-spacing:1px;display:block;line-height:45px}
.hotline-bar>a:active,.hotline-bar>a:hover{color:#fff}
.hotline-phone-2 .quick-alo-ph-circle{top:0;left:0;width:110px;height:110px}
.hotline-phone-2 .quick-alo-ph-circle-fill{top:16px;left:16px;width:80px;height:80px;background:rgba(51,122,83,.7)}
.hotline-phone-2 .quick-alo-ph-img-circle{top:31px;left:31px;width:50px;height:50px;background:#337ab7;opacity:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;align-items:center;justify-content:center}
.hotline-phone-2 .quick-alo-ph-img-circle .pps-btn-img{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.hotline-phone-2 .quick-alo-ph-img-circle .pps-btn-img img{width:33px;height:33px}
.hotline-phone-2 .alo-floating-zalo{bottom:120px;left:30px} .gallery {margin-bottom: 1.5em}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;width: 100%}
.gallery-columns-2 .gallery-item {max-width: 50%}
.gallery-columns-3 .gallery-item {max-width: 33.33%}
.gallery-columns-4 .gallery-item {max-width: 25%}
.gallery-columns-5 .gallery-item {max-width: 20%}
.gallery-columns-6 .gallery-item {max-width: 16.66%}
.gallery-columns-7 .gallery-item {max-width: 14.28%}
.gallery-columns-8 .gallery-item {max-width: 12.5%}
.gallery-columns-9 .gallery-item {max-width: 11.11%}
.gallery-caption {display: block} #showmenu {
width: 30px;
height: 30px;
line-height: 30px; text-align: center;
}
.navbar .row {
width: 100%;
}
.navbar .logo {
max-width: 50%;
}
.navbar {
margin-bottom: 0;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
background: #FFF;
z-index: 999999;
background: #000000;
padding: 15px;
position: relative;
}
.navbar-brand {
color: #FFF !important;
height: 46px;
padding: 12px 0;
font-size: 16px;
font-weight: bold; }
.navbar-brand img {max-height: 30px;}
#mobilenav {
position: fixed;
height: 100%;
width: 100%;
top: 0;
left: 0;
z-index: 9999999;
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
-webkit-transform: translate(-110%, 0px);
-moz-transform: translate(-110%, 0px);
-ms-transform: translate(-110%, 0px);
-o-transform: translate(-110%, 0px);
transform: translate(-110%, 0px);
}
#mobilenav.opened {
-webkit-transform: translate(0, 0px);
-moz-transform: translate(0, 0px);
-ms-transform: translate(0, 0px);
-o-transform: translate(0, 0px);
transform: translate(0, 0px);
}
.mobilenav__inner {
background: #f2f2f2;
max-width: 78%;
position: relative;
height: 100%;
}
.mobilenav__inner .menu-top-menu-container {
height: calc( 100% - 128px );
overflow: auto;
}
.mobilenav__inner .menu_close {
position: absolute;
top: 0;
right: -20%;
background: rgba(0,0,0,0.4);
padding: 10px;
cursor: pointer;
width: 20%;
height: 100%;
cursor: pointer;
}
.mobilenav__inner .menu_close i {
font-size: 18px;
top: 50%;
left: 0;
border-radius: 0 40px 40px 0;
padding: 10px;
position: absolute;
background: #1e1e1e;
border-left: 1px solid #000000;
color: #fff;
transform: translateY(-50%);
}
.toplg {padding: 20px 15px 40px 15px;text-align: center;}
.toplg img {max-width: 60%;margin: 0 auto;display: none;}
#mobilenav h3 {color: #f2f2f2;font-size: 28px;}
#mobilenav .mobile-menu {margin: 0;padding: 0;}
#mobilenav .mobilenav__inner > div:not(.toplg) {
overflow-y: auto;
height: calc( 100% - 128px );
}
#mobilenav .mobilenav__inner > .box_search {height:auto !important;margin: 0 10% 30px;}
#mobilenav li {display: block;position: relative;overflow: auto;}
#mobilenav li a {
color: #333;
position: relative;
display: block;
margin: 0;
padding: 10px 15px;
font-size: 14px;
border-bottom: solid 1px #f0f0f0;
border-top: solid 1px #ebebeb;
-webkit-transition: all 0.35s linear;
-moz-transition: all 0.35s linear;
-o-transition: all 0.35s linear;
transition: all 0.35s linear;
}
#mobilenav ul.mobile-menu > li > a {
background: #f2f2f2;
}
#mobilenav .arrow {
position: absolute;
top: 0;
right: 0;
width: 43px;
height: 43px;
cursor: pointer;
text-align: center;
line-height: 25px;
color: #FFF;
background: rgba(255,255,255,0.085);
-webkit-transition: all 0.25s ease 0s;
-moz-transition: all 0.25s ease 0s;
transition: all 0.25s ease 0s;
}
#mobilenav .arrow:before {
position: absolute;
top: 50%;
transform: translate(-50%,-50%);
font-size: 18px;
left: 50%;
content: 
font-family: IcoFont;
color: #333;
}
#mobilenav ul ul.sub-menu {
background: #f2f2f2;
padding-left: 15px;
}
#mobilenav ul > li.menu-item-has-children.open>.arrow:before {content:}
#mobilenav ul.sub-menu {display: none;list-style: none;margin: 0;padding: 0;}
.panel-overlay {opacity: 0;filter: alpha(opacity=0);}
.panel-overlay.active {background: #000;position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 999999;min-height: 100vh;opacity: 0.6;filter: alpha(opacity=35);-webkit-transition: opacity 0.2s ease-in-out 0s;-moz-transition: opacity 0.2s ease-in-out 0s;transition: opacity 0.2s ease-in-out 0s;} #hamburger .hamburger{margin-left:10px}
.hamburger{display:inline-block;width:20px;height:20px;cursor:pointer;-webkit-transition-property:opacity,-webkit-filter;transition-property:opacity,filter;transition-property:opacity,filter,-webkit-filter;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:linear;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}
.hamburger-box{width:20px;height:15px;display:inline-block;position:relative}
.hamburger-inner{display:block;top:50%;margin-top:-2px}
.hamburger-inner,.hamburger-inner::after,.hamburger-inner::before{width:20px;height:2px;background-color:#888787;border-radius:2px;position:absolute;-webkit-transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
.hamburger-inner::after,.hamburger-inner::before{content:"";display:block}
.hamburger-inner::before{top:-6px}.hamburger-inner::after{bottom:-10px}
.hamburger--collapse .hamburger-inner::before{-webkit-transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse .hamburger-inner::after{top:-12px;-webkit-transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear;transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear}
.hamburger--collapse .hamburger-inner{top:auto;bottom:0;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-delay:.15s;transition-delay:.15s;-webkit-transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-timing-function:cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse.is-active .hamburger-inner{-webkit-transform:translate3d(0,-10px,0) rotate(-45deg);transform:translate3d(0,-10px,0) rotate(-45deg);-webkit-transition-delay:.32s;transition-delay:.32s;-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
.hamburger--collapse.is-active .hamburger-inner::before{top:0;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1)}
.hamburger--collapse.is-active .hamburger-inner::after{top:0;opacity:0;-webkit-transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear;transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear}
.site-header:not(.header-banner) .hamburger-inner,
.site-header:not(.header-banner) .hamburger-inner::after,
.site-header:not(.header-banner) .hamburger-inner::before {background-color:#0041aa}
#showcart {
font-size: 24px;
} @media (min-width: 992px) {
.sidebar-content .site-main,.content-sidebar .site-main {float: right;width: 74.5%;}
.sidebar-content .sidebar,.content-sidebar .sidebar {float: left;width: 23.5%;}
.content-sidebar .site-main {float: left;}
.content-sidebar .sidebar {float: right;}
.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap,
.content-sidebar-sidebar .content-sidebar-wrap {float: left;width: 75.5%;}
.sidebar-content-sidebar .site-main,.sidebar-sidebar-content .site-main,
.content-sidebar-sidebar .site-main {float: right;width: 67.5496689%;}
.sidebar-content-sidebar .sidebar-primary,.sidebar-sidebar-content .sidebar-primary,
.content-sidebar-sidebar .sidebar-primary {float: left;width: 31.1258278%;}
.sidebar-content-sidebar .sidebar-secondary,.sidebar-sidebar-content .sidebar-secondary {float: right;width: 23.5%;}
.sidebar-sidebar-content .sidebar {float: left;}
.sidebar-sidebar-content .content-sidebar-wrap {float: right;}
.content-sidebar-sidebar .sidebar-primary {float: right;}
.content-sidebar-sidebar .sidebar-secondary {float: right;width: 23.5%;}
.content-sidebar-sidebar .site-main {float: left;}
}
.site-content {padding-top: 15px;}
@media (max-width:992px) {.home .site-content {padding-top: 0;}}
@media (min-width: 992px) {.container {max-width: 1170px;}}
.home .site-main,.sidebar-home,.page-template-page-fullwidth .site-main {width: 100% !important;} .sh-blog-shortcode .element .entry-content {margin: 0;}
.sh-blog-shortcode .element .entry-thumb a {overflow: hidden;display: block;position: relative;}
.sh-blog-shortcode .element .entry-thumb a:after {content: "";background: #fff;width: 0;height: 100%;left: 0;opacity: .4;position: absolute;top: 0;transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);z-index: 10;}
.sh-blog-shortcode .element .post-inner:hover .entry-thumb a:after {width: 100%;transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);}
.sh-blog-shortcode .element .entry-thumb a img {width: 100%;height: auto;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out}
.sh-blog-shortcode .element .entry-thumb a img:hover {transform: scale(1.1);-webkit-transform: scale(1.1)}
.sh-blog-shortcode .element .entry-meta {color: #888;margin-bottom: 5px;}
.sh-blog-shortcode .element .entry-meta i {margin-right: 5px;}
.sh-blog-shortcode .element .entry-title {margin: 10px 0;font-size: 14px;font-weight: normal;line-height: 1.5;text-transform: uppercase;}
.sh-blog-shortcode .element .entry-title a:hover {color: #f0770b !important;}
.sh-blog-shortcode .element .entry-description {text-align: justify;line-height: 1.5;color: #999999;} .sh-blog-shortcode.style-1 .element .entry-thumb {float: left;width: 25%;margin-right: 15px;}
.sh-blog-shortcode.style-1 .element .entry-title {margin: 0 0 5px 0;}
.sh-blog-shortcode.style-1 .element .entry-title a {color: #333333;}
.sh-blog-shortcode.style-1 .element .entry-title a:hover {color: #f0770b;}
.sh-blog-shortcode.style-1 .element .entry-description p {margin-bottom: 0;}  .sh-blog-shortcode.style-3 .element .entry-title {text-transform: none;font-weight: bold;}
.sh-blog-shortcode.style-3 .element .entry-title a {color: #333333;}  .sh-blog-shortcode.style-5 .entry-thumb {float:left;width:110px;margin-right:15px}
.sh-blog-shortcode.style-5 .element .entry-title {margin-top: 0;text-transform: none;font-size: 14px;font-weight: normal;}
.sh-blog-shortcode.style-5 .element .entry-title a {color: #333333;}
.sh-blog-shortcode.style-5 .element .entry-title a:hover {color: #f0770b;}
.sh-blog-shortcode.style-5 .element .entry-description {font-size:13px} .sh-blog-shortcode.style-6 .entry-thumb {padding:3px;background:#FFF;border:1px solid #cdcdcd}
.sh-blog-shortcode.style-6 .entry-title a {color:#333}
.sh-blog-shortcode.style-6 .entry-title a:hover {color:#f0770b}
.sh-blog-shortcode.style-6 .first-element-layout,.sh-blog-shortcode.style-6 .second-element-layout {margin-bottom:20px}
.sh-blog-shortcode.style-6 .second-element-layout .entry-thumb {float:left;width:110px;margin-right:15px}
.sh-blog-shortcode.style-6 .second-element-layout .entry-title {margin-top:0}
.sh-blog-shortcode.style-6 .second-element-layout .element:not(:last-child) {margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #dfdfdf}
.sh-blog-shortcode.style-6 .first-element-layout .element,.sh-blog-shortcode.style-6 .second-element-layout .element:last-child {margin-bottom:0} .sh-blog-shortcode.style-7 .first-element-layout .element .entry-thumb {float:left;width:30%;margin-right:20px}
.sh-blog-shortcode.style-7 .first-element-layout .element .entry-title {margin:0 0 5px}
.sh-blog-shortcode.style-7 .second-element-layout {margin-bottom:20px}
.sh-blog-shortcode.style-7 .second-element-layout .element {margin-bottom:5px}
.sh-blog-shortcode.style-7 .second-element-layout .element .entry-title {margin:0}
.sh-blog-shortcode.style-7 .second-element-layout .element .entry-title a:before {content:'';display:inline-block;width:5px;height:5px;background:#f0770b;border-radius:50%;position:relative;top:-2px;margin-right:5px} .sh-blog-shortcode.style-8 .element {margin-bottom:30px}
.sh-blog-shortcode.style-8 .element .post-inner {position:relative}
.sh-blog-shortcode.style-8 .element .entry-content {position:absolute;bottom:0;left:0;width:100%;z-index:9;background-color:rgb(0,0,0,.5);padding:10px}
.sh-blog-shortcode.style-8 .element .entry-title {font-size:14px;line-height:20px;margin:0}
.sh-blog-shortcode.style-8 .element .entry-title a {display:block;color:#FFF;max-height:40px;overflow:hidden}
.sh-blog-shortcode.style-8 .element .entry-title a:hover {text-decoration:underline}
@media (max-width:414px) {.sh-blog-shortcode .element {-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}} .sticky {display: block}
.hentry {margin: 0 0 30px}
.byline, .updated:not(.published) {display: none}
.single .byline, .group-blog .byline {display: inline}
.page-links {clear: both;margin: 0 0 30px}
.single .button_share { margin-bottom: 10px; margin-top: 17px; }
.single .entry-content table tr td {padding: 8px;line-height: 1.42857143;}
.entry-meta {font-size: 13px;margin-bottom: 10px;}
.entry-meta span {color: #747474;display: inline-block;margin-right: 10px;}
.entry-meta span i {color: #747474;}
.related-posts {margin-bottom: 30px;}
.related-posts .related-title {font-weight: bold;font-size: 20px;margin-bottom: 15px;text-transform: uppercase;}
.related-posts ul {padding-left: 0;list-style-position: inside;}
.related-posts ul li {margin-bottom: 5px;}
.related-posts ul li a {color: #333333;}
.sidebar .widget_nav_menu ul li a:hover,.post-next-prev-content a:hover, 
.related-posts ul li a:hover,.item-product-slide h3 a:hover, 
.widget .list-post-item h3 a:hover, .new-list article .more-link {color: #f0770b;}
.next_prev_post .post-title { font-size: 15px; color: #555555; margin-bottom: 10px; }
.next_prev_post .entry-content .entry-title { text-transform: none; font-size: 14px; font-weight: normal; line-height: 1.5; } .site-footer,.site-footer a {color:#FFF}
.footer-widgets {padding:40px 0 20px;background:#f0770b}
.footer-widgets h4.widget-title {font-weight:bold;font-size:20px;text-transform:uppercase;position: relative;margin-bottom: 20px;padding-bottom: 10px;}
.footer-widgets h4.widget-title:before {content: '';background: #FFFFFF;width: 60px;height: 2px;position: absolute;left: 0;bottom: 0;}
.footer-widgets ul {padding-left:0;list-style:none}
.footer-widgets ul ul {display:none}
.footer-widgets .widget_nav_menu ul li {position:relative;padding:3px 0 3px 15px}
.footer-widgets .widget_nav_menu ul li a:before {position:absolute;left:0;top:3px;content:"\ea69";font-family:IcoFont}
.footer-widgets .widget_nav_menu ul li a:hover {text-decoration:underline}
.site-info {color:#FFF;;padding:5px 0;background: #2c2c2c;}
.site-info a {color:#FFF;}
.site-info .widget_social,.site-info p {margin-bottom:0} #home_intro {margin-bottom: 40px;}
#home_intro .home_about_desc h3 {text-transform: uppercase;font-size: 18px;font-weight: bold;color: #f0770b;margin-bottom: 10px;}
#home_intro .home_about_desc ul {padding: 0;margin: 0}
#home_intro .home_about_desc ul li {display: block;margin-bottom: 5px;}
#home_intro .home_about_desc ul li:before {content: font-family: 'IcoFont';margin-right: 10px;color: #f0770b;}
.category_image {margin-bottom: 10px;}
.title_cate_product {font-size: 14px;font-weight: normal;text-align: center;}
.title_cate_product a {color: #333333;}
.icon-box {
border: 1px solid #ececec;
margin-bottom: 10px;
padding: 5px;
border-radius: 3px;
}
#custom_html-2 .textwidget {
border: 0;
padding: 0;
}
.icon-box-left .icon-box-img, .icon-box-right .icon-box-img {
-ms-flex: 0 0 auto;
flex: 0 0 auto;
margin-bottom: 0;
max-width: 200px;
}
.icon-box-img svg, .icon-box-img img {
padding-top: .2em;
width: 100%;
}
.icon-box-left .icon-box-img+.icon-box-text {
padding-left: 1em;
}
.icon-box-left .icon-box-text, .icon-box-right .icon-box-text {
-ms-flex: 1 1 0px;
flex: 1 1 0px;
}
.icon-box-left, .icon-box-right {
-js-display: flex;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
width: 100%;
}
#hotphone {
position: fixed;
background: #308d6e;
color: #fff;
font-size: 20px;
text-align: left;
padding: 6px 20px;
bottom: 3px;
left: 3px;
font-weight: 600;
z-index: 9999;
border-radius: 6px;
}
.col_contact .footer-widgets-area {
-ms-flex: 0 0 100% ;
flex: 0 0 100% ;
max-width: 100% ;
}
#custom_html-4 .textwidget {
border: 0;
padding: 0;
}
.carousel-caption h3 {color: #fff; font-weight: 600;}
.col_contact ul {padding:0;margin:0;list-style-type: none;}
.wrap-logo {
flex: 1;
text-align: center;
}   @media (max-width: 1199.98px) {
} @media (max-width: 991.98px) {
#site-navigation,.sidebar .widget_nav_menu ul ul {display:none}
.site-boxed .site-content {padding-left:15px;padding-right:15px}
.header-content {padding: 0}
} @media (max-width: 768px) {
.site-info,.site-info * {text-align:center}
.site-info {padding: 20px 0 60px}
.sh-blog-shortcode.style-3 .post-inner .entry-content {padding-top:15px}
.sh-blog-shortcode.style-3 .element .entry-title {margin-top:0}
.sh-blog-shortcode.style-3 .post-inner .entry-description {height:77px;overflow:hidden}
.site-header .logo a.wrap-logo img{padding-left:20px;padding-right: 20px;}
#hotphone {font-size: 17px;}
} @media (max-width: 575.98px) {
.heading a:not(.more_product) {
min-width: 170px;
}
.heading {
font-size: 12px;
}
}