.sh-product-shortcode{clear:both}
.list-products{padding:0}
.row.list-products{margin-left:-0px;margin-right:-0px}
.list-products li.product{display:block;margin-bottom:0;text-align:center}
.list-products li .woocommerce-loop-product__title{font-size:14px;font-weight:normal;text-transform:none;margin:10px 5px;line-height:1.3;overflow:hidden}
.list-products li .woocommerce-loop-product__title a{color:#333}
.list-products li .woocommerce-loop-product__title a:hover{color:#f0770b}
.list-products li .wrap-product{position:relative;padding:4px;border:1px solid #dedede;height: 100%;background:#FFF;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
.list-products li:hover .wrap-product{-moz-box-shadow:0 1px 7px 0 rgba(0,0,0,.35);-webkit-box-shadow:0 1px 7px 0 rgba(0,0,0,.35);box-shadow:0 1px 7px 0 rgba(0,0,0,.35)}
.list-products li .image-product{text-align:center;width:100%;margin-bottom:10px;overflow:hidden;position: relative;height: 250px}
.list-products li .image-product .all_button {position: absolute;bottom: 0;left: 0;right: 0;text-align: center;}
.list-products li .image-product .all_button a,.list-products li .image-product .all_button span {transition: 0.3s ease-in-out;position: relative;display: inline-block;padding: 0 10px;min-width: 35px;height: 35px;line-height: 35px;cursor: pointer;background: #f0770b;color: #FFF;vertical-align: top;}
.list-products li .image-product .all_button .detail_now { right: -250px;}
.list-products li .image-product .all_button .buy_now { left: -250px;}
.list-products li .image-product .all_button #openQuickView {bottom: -250px;}
.list-products li:hover .image-product .all_button .detail_now {right: 0;}
.list-products li:hover .image-product .all_button .buy_now {left: 0;}
.list-products li:hover .image-product .all_button #openQuickView {bottom: 0;}
.list-products li .image-product .all_button #openQuickView.loading::before {content:'';position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 32px;height: 32px;background: url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/images/AjaxLoader.gif) center no-repeat;}
.list-products li.product-has-gallery .image-product .wp-post-image--secondary{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);opacity:0;-webkit-transition:opacity .5s ease;-o-transition:opacity .5s ease;transition:opacity .5s ease}
.list-products li.product-has-gallery:hover .image-product .wp-post-image--secondary{opacity:1}
.list-products li .image-product a.img{display:block;position:relative;width: 100%;height: 100%}
.list-products li .image-product a.img img{display:inline;width: 100%;height: 100%;max-height: 250px;object-position: center;object-fit: cover;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
.list-products li:not(.product-has-gallery) .wrap-product:hover img{transform:scale(1.1);-webkit-transform:scale(1.1)}
.list-products li .wrap-product .price{display:block!important;font-size:14px!important;margin-bottom:10px!important;color:red!important;font-weight:700}
.list-products li .wrap-product .price>*{margin:0 5px}
.list-products li .wrap-product .price ins{text-decoration:none}
.list-products li .wrap-product .price del{font-weight:400;color:#666}
.list-products li .wrap-product .added_to_cart,.list-products li .wrap-product .button{display:inline-block;padding:5px 10px;background:#f0770b;color:#FFF;margin-bottom:10px;line-height:1.4;border-radius:0;font-size:14px;font-weight:400;min-height:0;}
.list-products li .wrap-product .button.product_type_simple{display: none;}
.row.list-products.list li.product,.upsells .list-products li.product{text-align:left}
.row.list-products.list li .wrap-product,.upsells .list-products li .wrap-product{overflow:hidden}
.row.list-products.list .image-product,.upsells .list-products .image-product{float:left;display:block;width:30%;margin:0 15px 0 0}
.row.list-products.list .image-product img,.upsells .list-products .image-product img{width:100%;height:auto}
.row.list-products.list li .wrap-product .price *,.upsells .list-products li .wrap-product .price *{margin:0}
.row.list-products.list li .wrap-product .price>*,.upsells .list-products li .wrap-product .price>*{margin:0 10px 0 0}
.gridlist-description{display:none;margin-bottom:20px}
.row.list-products.list .gridlist-description{display:block}
.product_meta {margin-top: 10px;border-top: 1px solid #f2f2f2;padding-top: 10px;}
.product_meta a {color: #999999;font-style: italic;font-size: 12px;}
.woocommerce-sku {margin-bottom: 10px;border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;display: none;} .sh-product-shortcode .row.list-products li.product{position:relative;width:100%;min-height:1px;padding-right:0px;padding-left:0px} .sh-product-shortcode.column-2 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%} .sh-product-shortcode.column-3 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
@media (min-width: 768px) {
.sh-product-shortcode.column-3 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
} .sh-product-shortcode.column-4 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
@media (min-width: 768px) {
.sh-product-shortcode.column-4 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
}
@media (min-width: 992px) {
.sh-product-shortcode.column-4 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
} .sh-product-shortcode.column-5 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
@media (min-width: 768px) {
.sh-product-shortcode.column-5 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
}
@media (min-width: 992px) {
.sh-product-shortcode.column-5 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 20%;flex:0 0 20%;max-width:20%}
}
.related_product .row.list-products li.product {padding-left: 15px;padding-right: 15px;} .sh-product-shortcode.column-6 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
@media (min-width: 768px) {
.related_product .row.list-products li.product {-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
.sh-product-shortcode.column-6 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
}
@media (min-width: 992px) {
.related_product .row.list-products li.product {-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%;}
.sh-product-shortcode.column-6 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
}
@media (min-width: 1200px) {
.sh-product-shortcode.column-6 .row.list-products:not(.list) li.product{-webkit-box-flex:0;-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
}
@media (max-width: 768px) {
.related_product .row.list-products li.product {-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.list-products li .image-product .all_button {display: none;}
.list-products li .wrap-product .button.product_type_simple{display: inline-block;}
}
@media (max-width: 576px) {
html .sh-product-shortcode .row{margin-left:0;margin-right:0}
.sh-product-shortcode .row.list-products li.product{padding-left:0;padding-right:0;margin-bottom: 0}
.list-products li .wrap-product .price ins,.list-products li .wrap-product .price del {display: block;} .list-products li .wrap-product .price ins {margin-right: 0;}
.list-products li .image-product{height: 180px}
.list-products li .image-product img{max-height: 180px}
}