@media (min-width: 992px) {#QuickViewModal .modal-lg {max-width: 900px;}}
#QuickViewModal .modal-content {position: relative;padding: 15px;}
#QuickViewModal .modal-content .modal-header {position: absolute;top: 0;right: 0;border-bottom: none;padding: 0;z-index: 999999;outline: none;}
#QuickViewModal .modal-content .modal-header .close {margin: 0;outline: none;}
#QuickViewModal .modal-content .modal-header .close span {color: #333333;outline: none;font-size: 22px;}
#QuickViewModal .woocommerce div.product form.cart div.quantity {margin: 0;}
#QuickViewModal .woocommerce .quantity input.qty {border-right: 1px solid #bbb3b9;width: 50px;}
#QuickViewModal .woocommerce-product-details__short-description {border-bottom: 0;}
#QuickViewModal .custom-btn-number {padding: 0;height: 36px;width: 50px;display: inline-block;border: 0;position: relative;border-radius: 3px;margin-right: 5px;}
#QuickViewModal .form-cart .input-text {text-align: left;width: 50px;height: 36px;padding-left: 10px;border: 1px solid #bbb3b9;border-radius: 3px;}
#QuickViewModal .custom-btn-number .items-count2 { position: absolute;width: 17px;height: 17px;line-height: 17px;border: 0;padding: 0;right: 1px;outline: none;}
#QuickViewModal .custom-btn-number .increase {top: 1px;}
#QuickViewModal .custom-btn-number .reduced {top: 18px;}
#QuickViewModal .custom-btn-number i {font-size: 10px;}
#QuickViewModal .modal-body {padding: 0;}
#QuickViewModal .modal-body .row {margin-left: 0;margin-right: 0;}
#QuickViewModal .modal-body .row > div {padding-left: 0;padding-right: 0;}
#QuickViewModal .modal-body .row > div .images {width: 100%}
#QuickViewModal .modal-body .row > div .entry-summary {padding: 15px;width: 100%;margin-bottom: 0;}
#QuickViewModal .modal-body .row > div .entry-summary .product_title {margin-bottom: 10px;}
#QuickViewModal .modal-body .row > div .entry-summary .price {color: #f00000;font-weight: bold;font-size: 18px;border-bottom: 0;padding-bottom: 0;}
#QuickViewModal .modal-body .row > div .entry-summary .price>*{margin:0 5px 0 0;text-decoration:none}
#QuickViewModal .modal-body .row > div .entry-summary .price del{font-weight:400;color:#666;font-size: 14px;}
#QuickViewModal .modal-body .row > div .entry-summary .product_category {font-size: 12px;font-style: italic;border-top: 1px solid #ebebeb;padding-top: 10px;margin-top: 10px;}
#QuickViewModal .modal-body .row > div .entry-summary .woocommerce-product-attributes {margin-bottom: 10px;width: 100%;}
#QuickViewModal .modal-body .row > div .entry-summary .woocommerce-product-attributes th {min-width: 30%;}
#QuickViewModal .modal-body .row > div .entry-summary .woocommerce-product-attributes td,#QuickViewModal .modal-body .row > div .entry-summary .woocommerce-product-attributes th { padding: 5px 10px; border: 1px solid #ebebeb; }
#QuickViewModal .modal-body .row > div .entry-summary .woocommerce-product-attributes p {margin-bottom: 0;}
#QuickViewModal .form-cart .qn_btn { border: 0;border-radius: 3px;display: inline-block; min-width: 120px; text-transform: uppercase;text-align: center; height: 36px; color: #FFF; }
#QuickViewModal .form-cart .qn_btn.qn_btn_add_cart {background-image: linear-gradient(-180deg,#288ad6 0,#f0770b 100%);}
#QuickViewModal .form-cart .qn_btn.buy_now {background: linear-gradient(-180deg,#e52025 2%,#d81116 96%);line-height: 36px;}
#QuickViewModal .carousel-indicators{margin-top:15px;position:initial;right:initial;bottom:initial;left:initial;z-index:15;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:initial;margin-left:initial;list-style:none}
#QuickViewModal .carousel-indicators li {border: 0;height:auto;width: auto;margin: 0;padding-left: 2px;padding-right: 2px;}
#QuickViewModal .carousel-indicators li img {width: 100%;max-width: 60px;}
.carousel-control-next, .carousel-control-prev { bottom: initial; width: 40px; height: 40px;line-height: 40px;border: 1px solid #ebebeb; top:50%;transform: translateY(-50%); }
@media (max-width: 992px) {#QuickViewModal {display: none;}}
.containerLoading{text-align: center;}
.lds-ring {display: inline-block;position: relative;width: 64px;height: 64px;}
.lds-ring div {box-sizing: border-box;display: block;position: absolute; width: 51px;height: 51px;margin: 2px;border: 2px solid #000000;border-radius: 50%;animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color: #000000 transparent transparent transparent;}
.lds-ring div:nth-child(1) {animation-delay: -0.45s;}
.lds-ring div:nth-child(2) {animation-delay: -0.3s;}
.lds-ring div:nth-child(3) {animation-delay: -0.15s;}
@keyframes lds-ring{0%{transform:rotate(0)}100%{transform:rotate(360deg)}} .site-header .woocommerce-product-search{position:absolute;bottom:-36px;right:0;z-index:9;width:240px;border-radius:3px;background:#FFF;overflow:hidden}
.site-header input[type=search]{color:#333}
.woocommerce-product-search input[type=search]{width:100%;border:none;background:0 0;outline:0;font-weight:400;margin-bottom:0;padding:4px 39px 4px 10px}
.woocommerce-product-search button[type=submit]{position:absolute;top:0;right:0;z-index:1;background:url(//giandayphoihoaphat.com/wp-content/themes/batchenhapkhau/lib/css/images/btsearch.png) center center no-repeat,red;text-indent:-9999px;border:none;width:29px;height:29px;outline:0;cursor:pointer}
.sidebar .widget_product_categories .product-categories{border:1px solid #ccc;border-top:none}
.sidebar .widget_product_categories ul li{position:relative;padding:8px 10px}
.sidebar .widget_product_categories ul li:not(:last-child){border-bottom:1px solid #ccc}
.sidebar .widget_product_categories ul li a{font-size:14px;font-weight:400;color:#333}
.sidebar .widget_product_categories .cat-parent .children{background:#FFF;position:absolute;top:-1px;left:100%;z-index:99;opacity:0;visibility:hidden;min-width:200px;border:1px solid #ccc;-webkit-transition:all .45s ease-out 0s;-moz-transition:all .45s ease-out 0s;-o-transition:all .45s ease-out 0s;transition:all .45s ease-out 0s;-moz-transform:translate(40px,0);-webkit-transform:translate(40px,0);transform:translate(40px,0)}
.content-sidebar .sidebar .widget_product_categories .cat-parent .children,.sidebar-content-sidebar .sidebar.sidebar-secondary .widget_product_categories .cat-parent .children{right:100%;left:initial;-moz-transform:translate(-40px,0);-webkit-transform:translate(-40px,0);transform:translate(-40px,0)}
.content-sidebar .sidebar .widget_product_categories .cat-parent:hover .children,.sidebar .widget_product_categories .cat-parent:hover .children,.sidebar-content-sidebar .sidebar.sidebar-secondary .widget_product_categories .cat-parent:hover .children{opacity:1;visibility:visible;-webkit-transform:translate(0,0);-moz-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)} .woocommerce ul.product_list_widget li{padding:0;margin-bottom:15px}
.woocommerce ul.cart_list li a span,.woocommerce ul.product_list_widget li a span{color:#333;margin:5px 0;font-size:14px;font-weight:500;line-height:1.2;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3}
.woocommerce ul.cart_list li img,.woocommerce ul.product_list_widget li img{width:100px;float:left;margin-right:10px;margin-left:0}
.woocommerce ul.product_list_widget .woocommerce-Price-amount{font-weight:700;color:red;margin:0}
.woocommerce ul.product_list_widget del span.woocommerce-Price-amount{color:#666;font-weight:400}
.woocommerce ul.product_list_widget ins{text-decoration:none} .woocommerce #respond input#submit.alt:hover,.woocommerce #respond input#submit.disabled:hover,.woocommerce #respond input#submit:disabled:hover,.woocommerce #respond input#submit:disabled[disabled]:hover,.woocommerce #respond input#submit:hover,.woocommerce a.button.alt:hover,.woocommerce a.button.disabled:hover,.woocommerce a.button:disabled:hover,.woocommerce a.button:disabled[disabled]:hover,.woocommerce a.button:hover,.woocommerce button.button.alt:hover,.woocommerce button.button.disabled:hover,.woocommerce button.button:disabled:hover,.woocommerce button.button:disabled[disabled]:hover,.woocommerce button.button:hover,.woocommerce input.button.alt:hover,.woocommerce input.button.disabled:hover,.woocommerce input.button:disabled:hover,.woocommerce input.button:disabled[disabled]:hover,.woocommerce input.button:hover{background-color:#f0770b;color:#FFF;box-shadow:inset 0 0 0 100px rgba(0,0,0,.2)}
.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button,.woocommerce button.button.alt,.woocommerce input.button,.woocommerce input.button.alt{background-color:#f0770b;color:#FFF;line-height:2.4em;min-height:2.5em;padding:0 1.2em;transition:all .3s ease-out}
.woocommerce #respond input#submit.alt.disabled,.woocommerce #respond input#submit.alt.disabled:hover,.woocommerce #respond input#submit.alt:disabled,.woocommerce #respond input#submit.alt:disabled:hover,.woocommerce #respond input#submit.alt:disabled[disabled],.woocommerce #respond input#submit.alt:disabled[disabled]:hover,.woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit:disabled,.woocommerce #respond input#submit:disabled[disabled],.woocommerce a.button.alt.disabled,.woocommerce a.button.alt.disabled:hover,.woocommerce a.button.alt:disabled,.woocommerce a.button.alt:disabled:hover,.woocommerce a.button.alt:disabled[disabled],.woocommerce a.button.alt:disabled[disabled]:hover,.woocommerce a.button.disabled,.woocommerce a.button:disabled,.woocommerce a.button:disabled[disabled],.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled],.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce button.button.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.alt.disabled,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled],.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled]{background-color:#f0770b;color:#FFF;padding:0 1.2em;transition:all .3s ease-out}
.added_to_cart.loading::after,.button.loading::after,.woocommerce #respond input#submit.loading::after,.woocommerce a.button.loading::after,.woocommerce button.button.loading::after,.woocommerce input.button.loading::after,button.loading::after,input[type=button].loading::after,input[type=reset].loading::after,input[type=submit].loading::after{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block;font-style:normal;font-variant:normal;font-family:'Font Awesome 5 Free';font-weight:900;vertical-align:baseline;content:"\f110";-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;height:20px;width:20px;line-height:20px;font-size:20px;position:absolute;top:50%;left:50%;margin-left:-10px;margin-top:-10px}
.button.loading:after{color:#333}
.added_to_cart.loading,.button.loading,button.loading,input[type=button].loading,input[type=reset].loading,input[type=submit].loading{opacity:.5}
.added_to_cart.loading,.button.loading,button.loading,input[type=button].loading,input[type=reset].loading,input[type=submit].loading{position:relative}
.button.loading{color:#eee}
.woocommerce div.product form.cart .button{background-image:linear-gradient(-180deg,#288ad6 0,#f0770b 100%)}
.woocommerce div.product form.cart .button.buy_now{background:linear-gradient(-180deg,#e52025 2%,#d81116 96%)} .shopping-cart,.shopping-cart .shopping-cart-icon-wrapper{display:inline-block;position:relative}
.shopping-cart .shopping-cart-menu-title{margin-right:5px;display:none}
.shopping-cart .shopping-cart-icon-wrapper img,.shopping-cart .shopping-cart-icon-wrapper i{padding:9px 12px;border-radius:3px}
.shopping-cart .shopping-cart-icon-wrapper:after{content:attr(title);display:block;min-width:20px;padding:1px;background:#ff4612;position:absolute;top:-5px;right:-5px;z-index:3;color:#fff;font-size:12px;line-height:18px;text-align:center;border-radius:50%}
.shopping-cart .shopping-cart-menu-wrapper{padding:10px 15px;position:absolute;top:100%;right:0;min-width:250px;width:auto;z-index:99;background:#fff;box-shadow:1px 1px 15px rgba(0,0,0,.15);border:2px solid #ddd;transition:all .3s cubic-bezier(.7,1,.7,1);visibility:hidden;opacity:0}
.shopping-cart:hover .shopping-cart-menu-wrapper{visibility:visible;opacity:1}
.shopping-cart .shopping-cart-menu-wrapper:after,.shopping-cart .shopping-cart-menu-wrapper:before{top:-22px;z-index:10;right:15px;border:solid transparent;content:'';height:0;width:0;position:absolute;pointer-events:none}
.shopping-cart .shopping-cart-menu-wrapper:before{z-index:-999;border-bottom-color:#ddd;border-width:11px;margin-left:-11px;right:12px}
.shopping-cart .shopping-cart-menu-wrapper:after{top:-16px;border-color:rgba(221,221,221,0);border-bottom-color:#fff;border-width:8px;margin-left:-8px}
.shopping-cart .shopping-cart-menu-wrapper p{clear:both;margin:0;white-space:nowrap}
.shopping-cart .shopping-cart-menu-wrapper p.woocommerce-mini-cart__total{margin:10px 0}
.shopping-cart .shopping-cart-menu-wrapper p.woocommerce-mini-cart__total .woocommerce-Price-amount{font-weight:700;color:red}
.shopping-cart .shopping-cart-menu-wrapper ul{padding:0;margin:0;list-style:none}
.shopping-cart .shopping-cart-menu-wrapper ul li{position:relative;padding:10px 20px 10px 0;margin:0;border-bottom:1px solid #ebeef6}
.shopping-cart .shopping-cart-menu-wrapper ul li .shopping-cart-menu-product-media{float:left;width:60px;margin-right:10px}
.shopping-cart .shopping-cart-menu-wrapper ul li .shopping-cart-menu-product-media img{width:100%;height:auto}
.shopping-cart .shopping-cart-menu-wrapper ul li .shopping-cart-menu-product-wrap{float:left;width:calc(100% - 70px)}
.shopping-cart .shopping-cart-menu-wrapper .shopping-cart-menu-product-wrap a{display:block;font-size:14px;font-weight:500}
.shopping-cart .shopping-cart-menu-wrapper .quantity{display:block}
.shopping-cart .shopping-cart-menu-wrapper a.remove.remove_from_cart_button{position:absolute;top:10px;right:0;z-index:1;display:inline-block;font-size:1.5em;height:20px;width:20px;text-align:center;line-height:1;border-radius:100%;text-decoration:none;font-weight:700;border:0}
.shopping-cart .shopping-cart-menu-wrapper a.remove.remove_from_cart_button:hover{background-color:red;color:#FFF}
.shopping-cart .shopping-cart-menu-wrapper .shopping-cart-subtotal-title{font-size:14px;font-weight:500}
.shopping-cart .shopping-cart-menu-wrapper .woocommerce-mini-cart__buttons a{color:#fff;margin-bottom:10px;border-radius:3px;font-size:14px;font-weight:500;padding:8px 10px;min-height:0;line-height:1.4;position:relative;display:block;text-align:center;transition:all .3s ease-out;background-color:red}
.shopping-cart .shopping-cart-menu-wrapper .woocommerce-mini-cart__buttons a.checkout{background-color:#0065a4}
.shopping-cart .shopping-cart-menu-wrapper .woocommerce-mini-cart__buttons a:hover{box-shadow:inset 0 0 0 100px rgba(0,0,0,.2)} .woocommerce-error,.woocommerce-info,.woocommerce-message{border-color:#f0770b}
.woocommerce-message::before{color:#f0770b}
.woocommerce .woocommerce-result-count{padding:5px 0}
.woocommerce-pagination{margin-bottom:20px}
.woocommerce nav.woocommerce-pagination ul{border:none}
.woocommerce nav.woocommerce-pagination ul li{background:#f5f5f5;margin:0 5px;border:none}
.switcher-wrap .woocommerce-notices-wrapper {width: 100%;}
.switcher-wrap,.switcher-wrap>*{margin-bottom:10px}
.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span{padding:8px 10px}
.woocommerce nav.woocommerce-pagination ul li a{color:#1e1e1e}
.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li span.current{background:#f0770b;color:#FFF}
.switcher-wrap .woocommerce-message{flex:0 0 100%}
.woocommerce .woocommerce-ordering select{padding:5px 10px;background-color:#f5f5f5;border:none}
.switcher-wrap{-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-flow:row wrap;-moz-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap}
.switcher-wrap .woocommerce-result-count{padding:0;float:none;-webkit-order:1;-moz-order:1;-ms-flex-order:1;order:1}
.switcher-wrap .woocommerce-ordering{float:none;-webkit-flex:1 1 auto;-moz-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}
.view-mode-switcher{display:flex;-webkit-order:2;-moz-order:2;-ms-flex-order:2;order:2;margin-left:20px}
.view-mode-switcher a{display:inline-block;padding:.618em;text-align:center;font-size:1em;line-height:1em;color:#1e1e1e;background-color:#f5f5f5}
.view-mode-switcher a em{display:none}
.view-mode-switcher a.active,.view-mode-switcher a:hover{color:#FFF;background-color:#f0770b}
.view-mode-switcher i,.view-mode-switcher i:before{font-size:1em;line-height:1;height:1em;width:1em} .woocommerce div.product .product_title{font-weight:700;text-transform:uppercase;font-size:18px;color:#333;margin:10px 0;text-align: left;}
.woocommerce .star-rating span,.woocommerce p.stars a{color:#ffc114}
.woocommerce div.product .summary p.price,.woocommerce div.product .woocommerce-product-rating,.woocommerce-product-details__short-description{padding-bottom:10px;margin-bottom:10px;}
.percent{display:inline-block;position:absolute;top:10px;right:10px;width:40px;height:40px;z-index:1;color:#FFF;background:red;text-align:center;padding:11px 5px;border-radius:50%;font-size:13px;font-weight:600}
.woocommerce span.onsale{display:none}
.product_meta .posted_in,.product_meta .sku_wrapper{display:block;margin-bottom:5px}
html .woocommerce .quantity .qty{padding:4px 0}
html .woocommerce #content .quantity input::-webkit-inner-spin-button,html .woocommerce #content .quantity input::-webkit-outer-spin-button,html .woocommerce #quantity input::-webkit-inner-spin-button,html .woocommerce #quantity input::-webkit-outer-spin-button,html .woocommerce-page #content .quantity input::-webkit-inner-spin-button,html .woocommerce-page #content .quantity input::-webkit-outer-spin-button,html .woocommerce-page #quantity input::-webkit-inner-spin-button,html .woocommerce-page #quantity input::-webkit-outer-spin-button{display:none}
html .woocommerce div.product form.cart div.quantity,html .woocommerce table.shop_table .quantity.buttons_added{position:relative;margin:0 10px 0 0;overflow:hidden;zoom:1;padding-right:1.1em;display:inline-block}
html .woocommerce .quantity input.qty,html .woocommerce-page .quantity input.qty{width:2.618em;height:35px;float:left;padding:0;margin:0;text-align:center;border:1px solid #bbb3b9;border-right:0;font-weight:500;border-radius:2px 0 0 2px;-moz-appearance:textfield}
html .woocommerce .quantity input[type=number],html .woocommerce .quantity noindex:-o-prefocus,html .woocommerce-page .quantity input[type=number],html .woocommerce-page .quantity noindex:-o-prefocus{padding-right:1.2em}
html .woocommerce .quantity .minus,html .woocommerce .quantity .plus,html .woocommerce-page .quantity .minus,html .woocommerce-page .quantity .plus{display:block;padding:0;margin:0;position:absolute;text-align:center;width:1.387em;height:18px;text-decoration:none;overflow:visible;font-weight:700;cursor:pointer;color:#515151;border:1px solid #bbb3b9;background-color:#ebe9eb;text-shadow:none;line-height:1;background-image:none;outline-width:0;z-index:1}
html .woocommerce .quantity .minus:hover,html .woocommerce .quantity .plus:hover,html .woocommerce-page .quantity .minus:hover,html .woocommerce-page .quantity .plus:hover{background-color:#dad8da}
html .woocommerce .quantity .plus,html .woocommerce-page .quantity .plus{top:0;right:0;border-bottom:0;border-radius:2px 2px 0 0}
html .woocommerce .quantity .minus,html .woocommerce-page .quantity .minus{bottom:0;right:0;border-radius:0 0 2px 2px}
.woocommerce div.product form.cart .group_table .woocommerce-Price-amount,.woocommerce div.product p.price,.woocommerce div.product span.price{font-weight:700;color:red;font-size:20px}
.woocommerce div.product form.cart .group_table .woocommerce-Price-amount{font-size:14px}
.woocommerce div.product p.price,.woocommerce-variation-price{margin-bottom:20px}
.woocommerce div.product p.price ins{margin-right:15px}
.woocommerce div.product p.price ins,.woocommerce div.product span.price ins{text-decoration:none}
.woocommerce div.product p.price del,.woocommerce div.product span.price del{font-size:16px;font-weight:400;color:#666}
.product_meta{margin-bottom:10px}
.woocommerce table.shop_attributes{display:block;border:none;margin-bottom:10px}
.woocommerce table.shop_attributes tbody{display:block}
.woocommerce table.shop_attributes tbody *{display:inline-block;font-style:normal}
.woocommerce table.shop_attributes tr{display:block;margin-bottom:5px}
.woocommerce table.shop_attributes th{padding:0;width:auto;border:none}
.woocommerce table.shop_attributes th:after{content:": "}
.woocommerce table.shop_attributes td{border:none}
.woocommerce table.shop_attributes tr:nth-child(even) td,.woocommerce table.shop_attributes tr:nth-child(even) th{background:0 0}
.woocommerce table.shop_attributes td p{padding:0}
.woocommerce-product-details__short-description{text-align:justify;margin-bottom:20px;padding-bottom:0}
.woocommerce-product-details__short-description ul{padding:0}
.woocommerce-product-details__short-description ul li{list-style:inside;margin-bottom:3px}
.woocommerce div.product .stock{font-style:italic;color:#000}
.woocommerce div.product form.cart label{margin-bottom:0}
.woocommerce div.product form.cart .variations select{padding:5px 10px;background-color:#f5f5f5;border:none}
.woocommerce div.product form.cart .group_table td{vertical-align:middle}
.woocommerce div.product div.images .flex-control-thumbs{margin-top:10px;margin-left:-5px;margin-right:-5px}
.woocommerce div.product div.images .flex-control-thumbs li{padding-left:5px;padding-right:5px;margin-bottom:10px}
.woocommerce div.product div.images .flex-control-thumbs li img{border:1px solid #ddd}
@media (min-width: 992px) {
.no-sidebar.single-product div.product .woocommerce-product-gallery .flex-viewport{width:80%;float:right}
.no-sidebar.single-product div.product .woocommerce-product-gallery .flex-control-thumbs{width:18%;float:left}
.no-sidebar.woocommerce div.product div.images .flex-control-thumbs{margin:-5px 0}
.no-sidebar.woocommerce div.product div.images .flex-control-thumbs li{width:100%;padding:5px 0}
}
.woocommerce #reviews #comments ol.commentlist{padding:0}
.woocommerce div.product .woocommerce-tabs ul.tabs{padding:0;border-bottom:1px solid #ccc}
.woocommerce div.product .woocommerce-tabs ul.tabs::before{border-bottom:none}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li{background-color:transparent;margin:0;padding:0;border:0}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{font-size:15px;font-weight:700;text-transform:uppercase;position:relative;padding:5px 15px;border-bottom:2px solid transparent;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after,.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,.woocommerce div.product .woocommerce-tabs ul.tabs li::after,.woocommerce div.product .woocommerce-tabs ul.tabs li::before{display:none}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{color:#333;background:#FFF;border-bottom:2px solid #f0770b}
.woocommerce .wc-tab h2.woocommerce-Reviews-title,.woocommerce .wc-tab h2.woocommerce-description-title{display:none;font-size:16px;margin-top:8px}
.heading-related{font-size:18px;font-weight:600;margin:0 0 20px;border-bottom:solid 1px #D2D2D2;text-transform:uppercase}
.heading-related span{position:relative;display:inline-block;padding-bottom:10px}
.heading-related span:after{content:"";position:absolute;left:0;right:0;bottom:-1px;height:2px;background:#f0770b;z-index:3;max-width:380px;min-width:215px}
.related .slick-slider .slick-next:before,.related .slick-slider .slick-prev:before{width:20px;height:20px;font-size:12px;line-height:20px}
@media (min-width: 992px) {
.related .slick-carousel .slick-next,.related .slick-carousel .slick-prev{top:-40px}
.related .slick-carousel .slick-next{right:15px}
.related .slick-carousel .slick-prev{left:inherit;right:40px}
} pre .woocommerce {font-family: 'Open Sans', Arial, sans-serif;font-size: 14px;white-space: normal;} @media (min-width: 768px) {
.woocommerce-account .woocommerce-MyAccount-navigation{width:22%}
.woocommerce-account .woocommerce-MyAccount-content{width:75%}
}
.u-column1.col-1.woocommerce-Address{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;padding-left:0}
.woocommerce-MyAccount-navigation ul{list-style:none;padding-left:0;border:1px solid #ddd}
.woocommerce-MyAccount-navigation ul li{background-color:#f8f8f8;border-bottom:1px solid #e2e2e2}
.woocommerce-MyAccount-navigation ul li:last-child{border-bottom:none}
.woocommerce-MyAccount-navigation ul li a{display:block;font-weight:700;font-size:14px;color:#555;background-color:#f8f8f8;box-shadow:-2px 0 4px -4px #888 inset,0 1px 0 #fff inset;padding:15px 10px;transition:background-color .3s ease 0s}
.woocommerce-MyAccount-navigation ul li.is-active a,.woocommerce-MyAccount-navigation ul li:hover a{background:#FFF}
.woocommerce-MyAccount-navigation ul li a:before{position:relative;top:-2px;content:"\f192";font-family:Font Awesome\ 5 Free;font-weight:900;margin-right:10px;font-size:10px;color:#f0770b}
.woocommerce-MyAccount-navigation ul li.is-active a{color:rgba(0,0,0,.8)}
.woocommerce-MyAccount-navigation ul li:not(.is-active):hover{background-color:rgba(0,0,0,.07)}
#customer_login{width:auto;float:none;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-30px;margin-left:-30px}
#customer_login h2{text-transform:uppercase}
.woocommerce #customer_login form.checkout_coupon,.woocommerce #customer_login form.login,.woocommerce #customer_login form.register{margin:15px 0}
.woocommerce #customer_login .col-1,.woocommerce #customer_login .col-2,.woocommerce-page #customer_login .col-1,.woocommerce-page #customer_login .col-2{position:relative;width:100%;min-height:1px;padding-right:30px;padding-left:30px}
@media (min-width:768px){
#customer_login .col-2{border-left:1px solid #ececec}
.woocommerce #customer_login .col-1,.woocommerce #customer_login .col-2,.woocommerce-page #customer_login .col-1,.woocommerce-page #customer_login .col-2{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
} .calculated_shipping h2 {text-transform: uppercase;} .woocommerce .woocommerce-form-login .button{margin-right:1em}
.woocommerce .woocommerce-form-login .woocommerce-form__label-for-checkbox{margin-top:5px}
.woocommerce form.checkout_coupon,.woocommerce form.login,.woocommerce form.register{padding:30px;background-color:rgba(0,0,0,.03);border:none;border-radius:0}
@media (min-width: 568px) {
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {padding: 15px;}
}
.woocommerce .col2-set .col-1,.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-1,.woocommerce-page .col2-set .col-2{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;padding:0;margin-bottom:20px}
@media screen and (min-width:768px){
.woocommerce .col2-set,.woocommerce-page .col2-set{width:52%;float:left;margin-right:6%}
.woocommerce .col2-set .col-1,.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-1,.woocommerce-page .col2-set .col-2{width:100%;float:none}
#order_review,#order_review_heading{width:42%;float:right}
}
html #order_review,html #order_review_heading{margin-right:0;border:3px solid #e3e3e3;clear:right;padding:0 15px 30px}
html #order_review_heading{margin-bottom:0;padding-bottom:20px;padding-top:26px;border-width:3px 3px 0;text-transform:uppercase}
html #order_review{border-width:0 3px 3px}
.woocommerce table.shop_table{border:none}
.woocommerce table.shop_table td,.woocommerce table.shop_table th{padding:10px 0}
.cart_totals tbody tr td,.shop_table tfoot tr td,.shop_table thead tr th:last-of-type,.shop_table tr td:last-of-type,td.product-total{text-align:right}
.woocommerce-Price-currencySymbol{margin-left:5px}
#add_payment_method #payment,.woocommerce-cart #payment,.woocommerce-checkout #payment{background:0 0;border-radius:0}
#add_payment_method #payment ul.payment_methods,.woocommerce-cart #payment ul.payment_methods,.woocommerce-checkout #payment ul.payment_methods{padding:0}
#add_payment_method #payment div.payment_box,.woocommerce-cart #payment div.payment_box,.woocommerce-checkout #payment div.payment_box{padding:12px 18px;background-color:#edf7ff;border:1px solid #49aff5;margin:0 0 16px}
#add_payment_method #payment div.payment_box::before,.woocommerce-cart #payment div.payment_box::before,.woocommerce-checkout #payment div.payment_box::before{display:none}
#add_payment_method #payment div.form-row,.woocommerce-cart #payment div.form-row,.woocommerce-checkout #payment div.form-row{padding:1em 0 0}
.woocommerce #payment #place_order,.woocommerce-page #payment #place_order{line-height:2.4em;min-height:2.5em;padding:0 1.2em}
.woocommerce-billing-fields h3{text-transform:uppercase}
.woocommerce-input-wrapper{display:block;width:100%}
.woocommerce form .form-row{padding:0;margin-bottom:15px}
.woocommerce form .form-row label{font-weight:600}
.woocommerce form .form-row input.input-text,.woocommerce form .form-row textarea{height:34px;font-size:14px;border:1px solid #ddd;border-radius:5px;box-shadow:inset 0 1px 2px rgba(0,0,0,.1);padding:.375rem .75rem}
.woocommerce form .form-row textarea{height:124px}
.woocommerce form .form-row.notes label{font-weight:400}
.woocommerce ul.order_details{margin:0 0 2em;padding:0}
.woocommerce ul.order_details li{font-size:.9em}
.woocommerce-customer-details .woocommerce-column__title,.woocommerce-order-details .woocommerce-order-details__title{text-transform:uppercase;margin-bottom:10px}
.woocommerce table.shop_table.order_details{border:1px solid #ddd}
.woocommerce table.shop_table.order_details td,.woocommerce table.shop_table.order_details th{padding:10px 12px}
.woocommerce .woocommerce-customer-details address{border-color:#ddd}
#add_payment_method #payment .payment_method_paypal .about_paypal,.woocommerce-cart #payment .payment_method_paypal .about_paypal,.woocommerce-checkout #payment .payment_method_paypal .about_paypal{float:none;line-height:1.4;font-size:13px;margin-left:5px}
.list-categories__item{margin-bottom:30px}
.list-categories__item h2{text-align:center;font-size:16px}
.list-categories__item h2 a{color:#333;transition:all .5s ease-in-out}
.list-categories__item h2 a:hover{color:#f0770b}
.list-categories__item .img{display:block;margin-bottom:10px}
.list-categories__item img{width:100%;transition:all .5s ease-in-out}
.list-categories__item:hover img{opacity:.7} @media (max-width: 768px) {
.shopping-cart .shopping-cart-icon-wrapper img,.shopping-cart .shopping-cart-icon-wrapper i{padding:8px 10px;background-color: #308d6e;}
.navbar-actions{position: fixed;bottom: 3px;right: 20px;}
}