<%include ./dau.ejs%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<hr>
<link rel="stylesheet" href="//s.alicdn.com/@g/sc/sc-details/0.0.86/index.css">
<section class="main-page-brand">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="./kehoa/ke-hoa1.png" alt="Los Angeles" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./kehoa/2.png" alt="Chicago" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./kehoa/4.png" alt="Los Angeles" style="width:100%;">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="col-sm-6">
                <h2><strong>KỆ HOA SẮT NGHỆ THUẬT CHỮ Z
                    </strong></h2><br>
                <hr>
                <del><span class="woocommerce-Price-amount amount">
                        <h3">Giá Gốc: Giá: 500.000 vnđ <br></h3>
                    </span></span></del>
                <h3 style="color: red">Giá:397.000 vnđ<br></h3>
                <hr>
                <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                    <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                        <button type="button" class="btn btn-danger"><strong>LIÊN HỆ ĐẶT HÀNG</strong></button><br><br><br>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">chi Tiết Sản phẩm:</font>
                        </font>
                    </div>
                </div><br>
                <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                    <div class="detail-decorate-json-renderer-container">
                        <div class="magic-1">
                            <div class="magic-2">
                                <div class="magic-3">
                                    <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                            <strong>Xuất sứ: </strong>tại xưởng sản xuất Bảo Long<br>
                                            <strong> Chất liệu:</strong> Sắt mã kẽm, Gỗ MDF phủ
                                            melamin 2 mặt, chống trầy xước <br>
                                            <strong> Kích thước:</strong> 30cm x 30cm x 80cm <br>
                                            <strong> Bảo hành:</strong> 12 tháng <br>
                                        </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="block-tab-product" class="tab-body-pane show" data-module="productDetail" data-spm-anchor-id="a2700.details.0.i29.128c36aftHXJvl">
            <div id="module_risk_warning"></div>
            <div id="module_detail_video"></div>
            <div id="module_product_specification">
                <div id="J-rich-text-description" class="richtext richtext-detail rich-text-description is-magic">
                    <div data-host="112190218" data-magic-global="%7B%22bizId%22%3A2209154152879%2C%22pageId%22%3A20020452537%2C%22siteId%22%3A10002064380%7D" data-id="detail_decorate_root" id="detail_decorate_root">
                        <style>
                        #detail_decorate_root .magic-0 {
                            border-bottom-style: solid;
                            border-bottom-color: #53647a;
                            font-family: Roboto;
                            font-size: 24px;
                            color: #53647a;
                            font-style: normal;
                            border-bottom-width: 2px;
                            padding-top: 8px;
                            padding-bottom: 4px
                        }

                        #detail_decorate_root .magic-1 {
                            vertical-align: top
                        }

                        #detail_decorate_root .magic-2 {
                            vertical-align: top;
                            display: block;
                            padding-right: 4px;
                            box-sizing: border-box;
                            padding-left: 4px
                        }

                        #detail_decorate_root .magic-3 {
                            vertical-align: top;
                            padding-bottom: 4px;
                            box-sizing: border-box;
                            padding-top: 4px
                        }

                        #detail_decorate_root .magic-4 {
                            padding: 0;
                            margin: 0;
                            white-space: pre-wrap;
                            font-size: 14px
                        }

                        #detail_decorate_root .magic-5 {
                            width: 750px;
                            border-collapse: collapse
                        }

                        #detail_decorate_root .magic-6 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 259px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-7 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 442px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-8 {
                            margin-bottom: 10px;
                            line-height: 0
                        }

                        #detail_decorate_root .magic-9 {
                            width: 750px;
                            height: 750px;
                            overflow: hidden;
                            margin-bottom: 0
                        }

                        #detail_decorate_root .magic-10 {
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 750px;
                            height: 750px
                        }

                        #detail_decorate_root .magic-11 {
                            width: 750px
                        }

                        #detail_decorate_root .magic-12 {
                            overflow: hidden;
                            width: 750px;
                            height: 750px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0
                        }

                        #detail_decorate_root .magic-13 {
                            margin-top: 0;
                            margin-left: 0;
                            width: 750px;
                            height: 750px
                        }
                        </style>
                        <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">Mô tả Sản phẩm</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                            <div class="detail-decorate-json-renderer-container">
                                <div class="magic-1">
                                    <div class="magic-2">
                                        <div class="magic-3">
                                            <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                                    <div>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif">Căn phòng sẽ trở lên sinh động hơn nếu biết cách phối hợp trang trí kệ và cây xanh bắt mắt. Thiết kế khác biệt hơn với các hình tam giác nhỏ, mang đến cái nhìn mới hiện đại hơn dành cho dọng kệ trang trí đặc biệt là kệ trang trí cây cối.
                                                                    Thiết kế hiện đại nhưng không làm mất đi chức năng cũng như diện tích của kệ. Với thiết kế mới này khách hàng có thể sử dụng đa di năng hơn từ phòng khách đến phòng ngủ , từ phòng đọc sách đến văn phòng đều thấy phù hợp và vừa ý.
                                                                    Kệ được làm bằng Khung sắt sơn tĩnh điện chống dỉ sét , với 2 màu khung đen và trắng kết hợp với các ngăn kệ gỗ có các màu đe, trắng. nâu vàng , mang đến sự hài hoà mới mẻ cho trang trí . Gỗ được sử dụng gỗ MDF lõi xanh chống thấm dễ lau chùi mà không gây xước. Dòng gỗ xuất xứ từ Thái lan đảm bảo về độ cứng và bền cho kệ.
                                                                    Mua kệ để ở đâu phù hợp ?
                                                                    Dùng kệ trang trí phòng khách
                                                                    Dùng để trang trí phòng ngủ
                                                                    Dùng để trang trí ban công
                                                                    Dùng để trang trí shop , quán café…</span></span></p>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif">
                                                                    Địa chỉ: Địa chỉ: 130 Hoàng Công Chất, P. Phú Diễn, Q. Bắc Từ Liêm, Tp. Hà Nội
                                                                    Hotline: 0931 252 333
                                                                    Email: baolongdesigner@gmail.com </span></span></p>
                                                </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div module-id="20624112609" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-du931f" data-section="AliMagic-du931f" data-section-title="Product Description" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Hình ảnh tổng quan</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112610" module-title="detailManyImage" render="true" class="J_module">
                            <div class="icbu-pc-detailManyImage magic-8" data-module-name="icbu-pc-detailManyImage">
                                <img src="./kehoa/ke-hoa1.png" alt="Los Angeles" style="width:100%;">
                                <img src="./kehoa/2.png" alt="Chicago" style="width:100%;">
                                <img src="./kehoa/4.png" alt="Los Angeles" style="width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="module_product_auth">
                <div></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<%include ./duoi.ejs%>