<!DOCTYPE html>
<!-- saved from url=(0031)https://productx.vn/ -->
<html lang="vi" class="noie has-body-scrollbar">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="icon" href="./icon/logo.png">
    <title>PRODOUCTX: NATURAL WOOD</title>
    <!-- This site is optimized with the Yoast SEO plugin v13.5 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta property="og:site_name" content="Bảo Long Decor">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bảo Long Decor">
    <script src="./za_files/saved_resource" async="" type="text/javascript"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="application/ld+json" class="yoast-schema-graph yoast-schema-graph--main">
    { "@context": "https://schema.org", "@graph": [{ "@type": "WebSite", "@id": "https://productx.vn/#website", "url": "https://productx.vn/", "name": "Gi\u00e0n d\u00e2y ph\u01a1i H\u00f2a Ph\u00e1t to\u00e0n qu\u1ed1c", "inLanguage": "vi", "potentialAction": [{ "@type": "SearchAction", "target": "https://productx.vn/?s={search_term_string}", "query-input": "required name=search_term_string" }] }, { "@type": "CollectionPage", "@id": "https://productx.vn/#webpage", "url": "https://productx.vn/", "name": "Gi\u00e0n d\u00e2y ph\u01a1i H\u00f2a Ph\u00e1t to\u00e0n qu\u1ed1c -", "isPartOf": { "@id": "https://productx.vn/#website" }, "inLanguage": "vi" }] }
    </script>
    <link rel="stylesheet" href="./ss/w3.css">
    <!-- / Yoast SEO plugin. -->
    <link rel="stylesheet" id="bootstrap-style-css" href="./za_files/6lzyt.css" type="text/css" media="all">
    <link rel="stylesheet" id="mobile-menu-style-css" href="./za_files/6lzyt(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="icofont-style-css" href="./za_files/6lzyt(2).css" type="text/css" media="all">
    <link rel="stylesheet" id="wp-block-library-css" href="./za_files/6lzyt(3).css" type="text/css" media="all">
    <link rel="stylesheet" id="wc-block-style-css" href="./za_files/6lzyt(4).css" type="text/css" media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="./za_files/6lzyt(5).css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-layout-css" href="./za_files/6lzyt(6).css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-smallscreen-css" href="./za_files/6lzyt(7).css" type="text/css" media="only screen and (max-width: 768px)">
    <link rel="stylesheet" id="woocommerce-general-css" href="./za_files/6lzyt(8).css" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
    .woocommerce form .form-row .required {
        visibility: visible;
    }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="dgwt-wcas-style-css" href="./za_files/6lzyt(9).css" type="text/css" media="all">
    <link rel="stylesheet" id="shtheme-style-css" href="./za_files/6lzyt(10).css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-style-css" href="./za_files/6lzyt(11).css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-layout-style-css" href="./za_files/6lzyt(12).css" type="text/css" media="all">
    <script type="text/javascript" src="./za_files/jquery.js.tải xuống"></script>
    <script type="text/javascript" src="./za_files/jquery-migrate.min.js.tải xuống"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <link rel="https://api.w.org/" href="https://productx.vn/wp-json/">
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://productx.vn/xmlrpc.php?rsd">
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://productx.vn/wp-includes/wlwmanifest.xml">
        <meta name="generator" content="WordPress 5.4.4">
        <meta name="generator" content="WooCommerce 4.2.2">
        <!-- This website runs the Product Feed PRO for WooCommerce by AdTribes.io plugin -->
        <style type="text/css">
        .dgwt-wcas-ico-magnifier,
        .dgwt-wcas-ico-magnifier-handler {
            max-width: 20px
        }

        .dgwt-wcas-search-wrapp {
            max-width: 600px
        }
        </style> <noscript>
            <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
            </style>
        </noscript>
        <style type="text/css" media="screen">
        .seovietmenu__head .seovietmenu__logo {
            background-image: url('anhmau/Banner_mb.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="google-site-verification" content="KQWDmacos3QZ5ky5Sy-9c_eBOTPaSbYwT76NUteWn-U">
        <style type="text/css" title="dynamic-css" class="options-output">
        .footer-widgets {
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: inherit;
            background-position: center center;
            background-image: url('anhmau/bg_ft-1-1.png');
        }
        </style>
        <script type="text/javascript" async="" src="./za_files/js15_as.js.tải xuống"></script>
</head>

<body data-rsssl="1" class="home blog theme-batchenhapkhau woocommerce-js sidebar-content site-full-width" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <nav id="mobilenav">
        <div class="mobilenav__inner">
            <div class="menu-top-menu-container">
                <ul id="menu-main" class="mobile-menu">
                    <li id="menu-item-6" class="li-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-6"><a href="/" aria-current="page">HOMES</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-683"><a href="Eucalyptus-Core-Veneer-Grade-A-the-good-price">Eucalyptus core, veneer glue core</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-685"><a href="Acacia-sawn-timber-lumber-for-pallets-or-furniture">Sawn acacia / sawn timber</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-681"><a href="Excellent-Quality-Wood-chips">Excellent quality wood chips </a></li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-687"><a href="/Wholesale-New-Epal-Euro-Wood-Pallets-Pine-Wood-pallet">Pallet</a></li>
                    <li id="menu-item-151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="/gioi-thieu">ABOUT US</a></li>
                    <li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="/lien-he"> CONTACT </a></li>
                </ul>
            </div> <a class="menu_close"><i class="fas fa-angle-left"></i></a>
        </div>
    </nav>
    <div id="page-wrap" class="site seoviet-page">
        <header id="masthead" class="site-header header-banner" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
            <!-- Start Top Header -->
            <!-- End Top Header -->
            <div class="header-main">
                <div class="container">
                    <div class="site-branding">
                        <h1 class="site-title"><a href="/" rel="home">PRODUCT</a></h1>
                    </div><!-- .site-branding -->
                </div><!-- .site-branding -->
                <div class="header-content">
                    <div class="container">
                        <div class="d-lg-none">
                            <div class="d-flex justify-content-between align-items-center logo">
                                <a id="showmenu">
                                    <span class="hamburger hamburger--collapse">
                                        <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                        </span>
                                    </span>
                                </a>
                                <a class="wrap-logo" href="/"><img src="./icon/Banner-pc-1.png" alt="logo"></a> </div>
                        </div>
                        <div class="logo d-lg-block d-none">
                            <a href="/"><img src="./icon/Banner-pc-1.png" alt="banner"></a> </div>
                    </div>
                </div>
            </div>
            <!-- End Menu Mobile -->
            <nav id="site-navigation" class="main-navigation" itemscope="" itemtype="/">
                <div class="container" style="position: relative;">
                    <div class="menu-top-menu-container">
                        <ul id="primary-menu" class="menu clearfix">
                            <li class="li-home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-6"><a href="/" aria-current="page">HOMES</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-680"><a href="/">PRODUCT</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-683"><a href="Eucalyptus-Core-Veneer-Grade-A-the-good-price">Eucalyptus core, veneer glue core</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-685"><a href="Acacia-sawn-timber-lumber-for-pallets-or-furniture">Sawn acacia / sawn timber</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-681"><a href="Excellent-Quality-Wood-chips">Excellent quality wood chips </a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-687"><a href="/Wholesale-New-Epal-Euro-Wood-Pallets-Pine-Wood-pallet">Pallet</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-151"><a href="/gioi-thieu">ABOUT US</a></li>
                     
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="/lien-he">CONTACT</a></li>
                        
                            <!-- <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-680"><a href="/">Chính sách</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-681"><a href="/">Chính sách đổi trả hàng</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-683"><a href="/">Chính sách phương thức thanh toán</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-685"><a href="/">Vận chuyển, giao nhận</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-687"><a href="/">CHÍNH SÁCH HỦY ĐƠN HÀNG</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div>
                    <!-- <div class="navbar-actions">
                        <div class="navbar-actions-shrink shopping-cart">
                            <a href="/" class="shopping-cart-icon-container ffb-cart-menu-item">
                                <span class="shopping-cart-icon-wrapper" title="0">
                                    <img src="./za_files/icon-cart.png">
                                </span>
                            </a>
                            <div class="shopping-cart-menu-wrapper">
                                <p class="woocommerce-mini-cart__empty-message">Chưa có PRODUCT trong giỏ hàng.</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </nav>
        </header>