<footer  id="example1">
    <div class="footer-widgets">
        <div class="container">
            <div class="wrap">
                <div class="row">
                    <div class="footer-widgets-area col-md-4">
                        <section id="text-2" class="widget widget_text">
                            <h4 style="color: red" class="widget-title">FACEBOOK</h4>
                            <div class="textwidget">
                              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FVietnamese-wood-106444008580002&tabs=timeline&width=350&height=340&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="350" height="340" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </section>
                    </div>
                    <div class="footer-widgets-area col-md-4">
                        <section id="information-2" class="widget widget_information">
                            <h4 style="color: red"class="widget-title">COMPANY INFORMATION</h4>
                            <ul>
                                <li style="color: #fff"class="label-company"><i class=" icofont-brand-windows"></i>PRODUCTX Co., Ltd</li>
<li style="color: #fff"class="label-company"><i class=" icofont-brand-windows"></i>tax code: 0107975584</li>
                     <li style="color: #fff"class="label-company"><i class=" icofont-brand-windows"></i>EMAIL: info.productx102@gmail.com</li>         
                            </ul>
                        </section>
                        


                    </div>
                 
                    <div class="footer-widgets-area col-md-4">
                        <section id="text-3" class="widget widget_text">
                            <h4 style="color: red"class="widget-title">WAREHOUSE & MANUFACTURER</h4>
                            <div class="textwidget">
                            
                                <li><span style="color: #fff" class="">Factory address: km74 Phuc Loi - District. Luc Yen - city. Yen Bai</span></li>
                                <li><span style="color: #fff"class=""> Headquarters: 225 Quan Hoa, Ward Quan Hoa, District Cau Giay, city Ha Noi, VN</span></li>
                                <li><span style="color: #fff"class="">Hotline:0337 699 789</li></span> 
                            </div>
                        </section>
                    </div> 
                    
                </div>
            </div>
        </div>
    </div><!-- .footer-widgets -->
    <!-- .site-info -->
    <div id="back-top" style="display: block;">
        <div class="backtotop-morph"></div>
    </div>
    <!-- Search Form -->
    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring-wrap">
            <div class="hotline-phone-ring">
             
                <div class="hotline-phone-ring-circle-fill"></div>
                <div class="hotline-phone-ring-img-circle"> <a target="_blank" rel="nofollow" id="messengerButton" href="https://mail.google.com/mail/u/2/#inbox/FMfcgzGmtXCRLqWGcjFZZPKQKLJRgxnD?compose=CllgCHrfShzpPhPGGNPSrhQwtmKhDHWSRgDBDBqcLCzHgnHjtjvBSWStrvdwjNNXXdzxlFDHnwg" class="pps-btn-img"> <img src="./icon/images.png" alt="so dien thoai" width="100"> </a></div>
            </div>
            <!-- <div class="hotline-bar">
                <a href="tel:0338563000"> <span class="text-hotline">0931 252 333</span> </a>
            </div> -->
        </div>
        <div class="float-icon-hotline">
            <ul class="left-icon hotline">
                <li class="hotline_float_icon"><a target="_blank" rel="nofollow" id="messengerButton" href="https://t.me/trieubay"><img src="./anh/zalo.png" alt="so dien thoai" width="40"></i><span>Zalo</span></a></li>
                <li class="hotline_float_icon"><a target="_blank" rel="nofollow" id="messengerButton" href="https://www.facebook.com/Vietnamese-wood-106444008580002"><img src="./anh/Messenger.png" alt="so dien thoai" width="40"></i><span>Facebook</span></a></li>
               
            </ul>
        </div>
    </div>
    <style>
    .hotline-phone-ring-circle {
        width: 85px;
        height: 85px;
        top: 10px;
        left: 10px;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid #e60808;
        -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
        animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: .5
    }

    .hotline-phone-ring-circle-fill {
        width: 55px;
        height: 55px;
        top: 22px;
        left: 26px;
        position: absolute;
        background-color: rgba(230, 8, 8, .7);
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
        animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%
    }

    .hotline-phone-ring-img-circle {
        background-color: #e4212a;
        width: 33px;
        height: 33px;
        top: 33px;
        left: 37px;
        position: absolute;
        background-size: 20px;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .hotline-phone-ring-img-circle .pps-btn-img {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .hotline-phone-ring-img-circle .pps-btn-img img {
        width: 20px;
        height: 20px
    }

    .hotline-bar {
        position: absolute;
        background: #e88a25;
        background: -webkit-linear-gradient(left, #e88a25, #d40000);
        background: -o-linear-gradient(right, #e88a25, #d40000);
        background: -moz-linear-gradient(right, #e88a25, #d40000);
        background: linear-gradient(to right, #e88a25, #e4212a);
        height: 40px;
        width: 200px;
        line-height: 40px;
        border-radius: 3px;
        padding: 0 10px;
        background-size: 100%;
        cursor: pointer;
        transition: all .8s;
        -webkit-transition: all .8s;
        z-index: 9;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .1);
        border-radius: 50px !important;
        border: 2px solid #fff;
        left: 33px;
        bottom: 37px
    }

    .hotline-bar>a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 900;
        text-indent: 50px;
        display: block;
        letter-spacing: 1px;
        line-height: 38px;
        font-family: Arial
    }

    .hotline-bar>a:hover,
    .hotline-bar>a:active {
        color: #fff
    }

    @-webkit-keyframes phonering-alo-circle-anim {
        0% {
            -webkit-transform: rotate(0) scale(.5) skew(1deg);
            -webkit-opacity: .1
        }

        30% {
            -webkit-transform: rotate(0) scale(.7) skew(1deg);
            -webkit-opacity: .5
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            -webkit-opacity: .1
        }
    }

    @-webkit-keyframes phonering-alo-circle-fill-anim {
        0% {
            -webkit-transform: rotate(0) scale(.7) skew(1deg);
            opacity: .6
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            opacity: .6
        }

        100% {
            -webkit-transform: rotate(0) scale(.7) skew(1deg);
            opacity: .6
        }
    }

    @-webkit-keyframes phonering-alo-circle-img-anim {
        0% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }

        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }
    }

    @media (max-width:768px) {
        .hotline-bar {
            display: none
        }
    }

    .hotline-phone-ring-img-circle .pps-btn-img img {
        width: 20px;
        height: 20px;
    }

    img {
        border: none;
    }


    .hotline-phone-ring-wrap {
        position: fixed !important;
        bottom: 0;
        left: 0;
        z-index: 1111111;
    }

    .hotline-phone-ring {
        position: relative;
        visibility: visible;
        background-color: transparent;
        width: 110px;
        height: 110px;
        cursor: pointer;
        z-index: 11;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transition: visibility .5s;
        left: 0;
        bottom: 0;
        display: block;
    }


    .float-icon-hotline {
        display: block;
        width: 40px;
        position: fixed;
        bottom: 85px;
        left: 33px;
        z-index: 999999;
    }


    .float-icon-hotline ul {
        display: block;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
    }

    .float-icon-hotline ul li {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .float-icon-hotline ul li a#messengerButton {
        padding: 0px !important;
        background: transparent !important;
        border: 0px !important;
    }

    @media only screen and (min-width: 960px) {
        .float-icon-hotline ul li .fa {
            background-size: contain !important;
        }
    }

    .float-icon-hotline ul li .fa-phone {
        background-color: #ed1c24;
    }

    .float-icon-hotline ul li .fa {
        background-color: #ed1c24;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 36px;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        color: #fff;
        font-weight: 700;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        border: 2px solid #fff;
    }

    .animated.infinite {
        animation-iteration-count: infinite;
    }

    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .tada {
        animation-name: tada;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .float-icon-hotline ul li span {
        display: inline-block;
        padding: 0;
        background-color: #ff6a00;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 20px;
        height: 40px;
        line-height: 36px;
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 0;
        width: 0;
        overflow: hidden;
        -webkit-transition: all 1s;
        transition: all 1s;
        background-color: #ff6a00;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        font-weight: 400;
        white-space: nowrap;
        opacity: 0;
    }

    ul.left-icon.hotline {
        margin-left: 0px !important;
    }
    </style>
    <style type="text/css">
    .hotline-phone-ring-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999999;
    }

    .hotline-phone-ring {
        position: relative;
        visibility: visible;
        background-color: transparent;
        width: 110px;
        height: 110px;
        cursor: pointer;
        z-index: 11;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transition: visibility .5s;
        left: 0;
        bottom: 0;
        display: block;
    }

    .hotline-phone-ring-circle {
        width: 85px;
        height: 85px;
        top: 10px;
        left: 10px;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid #e60808;
        -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
        animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 0.5;
    }

    .hotline-phone-ring-circle-fill {
        width: 55px;
        height: 55px;
        top: 25px;
        left: 25px;
        position: absolute;
        background-color: rgba(230, 8, 8, 0.7);
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
        animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    .hotline-phone-ring-img-circle {
        background-color: #e60808;
        width: 33px;
        height: 33px;
        top: 37px;
        left: 37px;
        position: absolute;
        background-size: 20px;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hotline-phone-ring-img-circle .pps-btn-img {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .hotline-phone-ring-img-circle .pps-btn-img img {
        width: 20px;
        height: 20px;
    }

    .hotline-bar {
        position: absolute;
        background: rgba(230, 8, 8, 0.75);
        height: 40px;
        width: 180px;
        line-height: 40px;
        border-radius: 3px;
        padding: 0 10px;
        background-size: 100%;
        cursor: pointer;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        z-index: 9;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 50px !important;
        /* width: 175px !important; */
        left: 33px;
        bottom: 37px;
    }

    .hotline-bar>a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        text-indent: 50px;
        display: block;
        letter-spacing: 1px;
        line-height: 40px;
        font-family: Arial;
    }

    .hotline-bar>a:hover,
    .hotline-bar>a:active {
        color: #fff;
    }

    @-webkit-keyframes phonering-alo-circle-anim {
        0% {
            -webkit-transform: rotate(0) scale(0.5) skew(1deg);
            -webkit-opacity: 0.1;
        }

        30% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            -webkit-opacity: 0.5;
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            -webkit-opacity: 0.1;
        }
    }

    @-webkit-keyframes phonering-alo-circle-fill-anim {
        0% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: 0.6;
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            opacity: 0.6;
        }

        100% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: 0.6;
        }
    }

    @-webkit-keyframes phonering-alo-circle-img-anim {
        0% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }

        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        }

        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        }

        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        }

        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }
    }

    @media (max-width: 768px) {
        .hotline-bar {
            display: none;
        }
    }
    </style>
   <style> 
#example1 {
  background: url(banner/bannerduoi.png) left top repeat;
  padding: 15px;
}
</style>
 <style> 
#example2 {
  background: url(banner/11.png) left top repeat;
  padding: 15px;
}
</style>
</footer><!-- #colophon -->
<div class="hotline-phone-1"></div>
<div class="panel-overlay"></div>
</div><!-- #page -->
<style>
    .hotline-phone-1 .quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle,
.hotline-phone-2 .quick-alo-ph-img-circle, .hotline-bar {
background-color: #18b700 !important;
}
</style>
<style>
    .hotline-phone-1 .phone_text,
.hotline-phone-1 .quick-alo-phone.quick-alo-green .quick-alo-ph-circle-fill,
.hotline-phone-2 .quick-alo-ph-circle-fill {
background: rgb( 24, 183, 0, .7 ) !important;
}
.hotline-phone-1 .quick-alo-phone.quick-alo-green .quick-alo-ph-circle {
border-color: rgb( 24, 183, 0, .7 ) !important;
}
</style>

<script type="text/javascript">
var _Hasync = _Hasync || [];
_Hasync.push(['Histats.start', '1,4429055,4,15,170,40,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
    var hs = document.createElement('script');
    hs.type = 'text/javascript';
    hs.async = true;
    hs.src = ('//s10.histats.com/js15_as.js');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();
</script>
<noscript><a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?4429055&101" alt="free web stats" border="0"></a></noscript>
<!-- Histats.com  END  -->
<script type="text/javascript">
var c = document.body.className;
c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
document.body.className = c;
</script>
<!-- Modal -->
<div class="modal fade" id="QuickViewModal" tabindex="-1" role="dialog" aria-labelledby="QuickViewModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="tmpl-variation-template">
    <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
<div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
<div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
</script>
<script type="text/template" id="tmpl-unavailable-variation-template">
    <p>Rất tiếc, sản phẩm này hiện không tồn tại. Hãy chọn một phương thức kết hợp khác.</p>
</script>
<script type="text/javascript" src="./za_files/popper.min.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/bootstrap.min.js.tải xuống"></script>
<script type="text/javascript">
/* <![CDATA[ */
var ajax = { "url": "https:\/\/giandayphoihoaphat.com\/wp-admin\/admin-ajax.php" };
/* ]]> */
</script>
<script type="text/javascript" src="./za_files/main.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/jquery.js(1).tải xuống"></script>
<script type="text/javascript" src="./za_files/mobile-menu.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/site.min.js.tải xuống"></script>

<script type="text/javascript" src="./za_files/quickview.js.tải xuống"></script>

<script type="text/javascript" src="./za_files/scripts.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/jquery.blockUI.min.js.tải xuống"></script>

<script type="text/javascript" src="./za_files/add-to-cart.min.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/js.cookie.min.js.tải xuống"></script>

<script type="text/javascript" src="./za_files/woocommerce.min.js.tải xuống"></script>

<script type="text/javascript" src="./za_files/cart-fragments.min.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/main-woo.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/wp-embed.min.js.tải xuống"></script>

<script type="text/javascript" src="./za_files/search.min.js.tải xuống"></script>
<script type="text/javascript" src="./za_files/underscore.min.js.tải xuống"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpUtilSettings = { "ajax": { "url": "\/wp-admin\/admin-ajax.php" } };
/* ]]> */
</script>
<script type="text/javascript" src="./za_files/wp-util.min.js.tải xuống"></script>

<script type="text/javascript" src="./za_files/thickbox.js.tải xuống"></script>
<div class="dgwt-wcas-suggestions-wrapp woocommerce js-dgwt-wcas-initialized" unselectable="on" style="position: absolute; display: none; max-height: 600px; z-index: 999999999;"></div>
<script async="" type="text/javascript" src="./za_files/4429055.php"></script>
<script async="" type="text/javascript" src="./za_files/cc_15.js.tải xuống"></script>
</body>

</html>