<%include ./dau.ejs%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<hr>
<link rel="stylesheet" href="//s.alicdn.com/@g/sc/sc-details/0.0.86/index.css">
<section class="main-page-brand">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="./go/Eucalyptus-core-veneer-glue-core-3.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./go/Eucalyptus-core-veneer-glue-core-16.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./go/Go-van-lang-xuat-khau-1.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./go/Eucalyptus-core-veneer-glue-core-14.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="col-sm-4">
                <h2><strong>Eucalyptus core, Grade A veneer glue core with good price
                    </strong></h2><br>
                <hr>
                <del><span class="woocommerce-Price-amount amount">
                      <!--   <h3"> 85.000  vnđ<br></h3> -->
                    </span></span></del>
                <h3 style="color: red">$171.00 - $245.00/ Cubic Meter|40 Cubic Meter/Cubic Meters(Min. Order)<br></h3>
                <hr>
                <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                    <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                      <a href="/lien-he"><button type="button"class="btn btn-danger"><strong>FOB Reference Price:Get Latest Price</strong></button><br><br></a>
                        <!-- <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">chi Tiết Sản phẩm:</font>
                        </font> -->
                    </div>
                </div><br>
                <!-- <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                    <div class="detail-decorate-json-renderer-container">
                        <div class="magic-1">
                            <div class="magic-2">
                                <div class="magic-3">
                                    <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                            <strong>Xuất sứ: </strong>tại xưởng sản xuất Bảo Long<br>
                                           <strong>Màu: </strong> Màu/Mẫu Be, Trắng vân gỗ, nâu vàng, Đen<br>
                                            <strong> Chất liệu:</strong> Khung sắt sơn tĩnh điện + Gỗ MDF cốt xanh chống ẩm <br>
                                            <strong> Kích thước:</strong> 70 x 40 x 90 cm (Dài x Rộng x Cao) <br>
                                            <strong> Bảo hành:</strong> Sản phẩm bảo hành 12 tháng <br>
                                        </span></div>
                                <br><img style="width:100%;" src="./anh/promo_image.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            
        </div>
    </div>
   <div class="container">
        <div id="block-tab-product" class="tab-body-pane show" data-module="productDetail" data-spm-anchor-id="a2700.details.0.i29.128c36aftHXJvl">
            <div id="module_risk_warning"></div>
            <div id="module_detail_video"></div>
            <div id="module_product_specification">
                <div id="J-rich-text-description" class="richtext richtext-detail rich-text-description is-magic">
                    <div data-host="112190218" data-magic-global="%7B%22bizId%22%3A2209154152879%2C%22pageId%22%3A20020452537%2C%22siteId%22%3A10002064380%7D" data-id="detail_decorate_root" id="detail_decorate_root">
                        <style>
                        #detail_decorate_root .magic-0 {
                            border-bottom-style: solid;
                            border-bottom-color: #53647a;
                            font-family: Roboto;
                            font-size: 24px;
                            color: #53647a;
                            font-style: normal;
                            border-bottom-width: 2px;
                            padding-top: 8px;
                            padding-bottom: 4px
                        }

                        #detail_decorate_root .magic-1 {
                            vertical-align: top
                        }

                        #detail_decorate_root .magic-2 {
                            vertical-align: top;
                            display: block;
                            padding-right: 4px;
                            box-sizing: border-box;
                            padding-left: 4px
                        }

                        #detail_decorate_root .magic-3 {
                            vertical-align: top;
                            padding-bottom: 4px;
                            box-sizing: border-box;
                            padding-top: 4px
                        }

                        #detail_decorate_root .magic-4 {
                            padding: 0;
                            margin: 0;
                            white-space: pre-wrap;
                            font-size: 14px
                        }

                        #detail_decorate_root .magic-5 {
                            width: 750px;
                            border-collapse: collapse
                        }

                        #detail_decorate_root .magic-6 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 259px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-7 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 442px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-8 {
                            margin-bottom: 10px;
                            line-height: 0
                        }

                        #detail_decorate_root .magic-9 {
                            width: 750px;
                            height: 750px;
                            overflow: hidden;
                            margin-bottom: 0
                        }

                        #detail_decorate_root .magic-10 {
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 750px;
                            height: 750px
                        }

                        #detail_decorate_root .magic-11 {
                            width: 750px
                        }

                        #detail_decorate_root .magic-12 {
                            overflow: hidden;
                            width: 750px;
                            height: 750px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0
                        }

                        #detail_decorate_root .magic-13 {
                            margin-top: 0;
                            margin-left: 0;
                            width: 750px;
                            height: 750px
                        }
                        </style>
                        <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">Product Details</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                            <div class="detail-decorate-json-renderer-container">
                                <div class="magic-1">
                                    <div class="magic-2">
                                        <div class="magic-3">
                                            <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                                    <div>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif">
                                                            <img src="./icon/9.PNG" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">


CORE VENEER

Mountains and tropical forest cover three quarters of Vietnam and supply enormous sources of wood for the wood processing industry. Taking this advantage, PRODUCTX Co., Ltd has well-developed in the sector of supplying wood and wooden products for both domestic and global markets. One of our strategic products is Core veneer that is highly qualified and able to meet the most demanding requirements.

Specifications of Core veneer:

Product name: Core Veneer

Origin: Vietnam

Type of wood: Acacia, Eucalyptus, Mixed hardwood…

Length: 970mm or 1270mm

Width: 640mm

Thickness: 1.5mm or 2.5mm

Moisture: 20% max

Color: Brown

Delivery time:10-15 days after the customer’s deposit

Payment terms:L/C or T/T

MOQ: 1 container

The manufacturing process of Core Veneer:
The trees from which we make veneer are usually of high quality with straight trunk such as acacia, eucalyptus, keruing...
Before being put into the manufacturing process, the log is maintained in a moist condition to prevent drying and splitting of the log. The log then is placed in vats and cooked in steam to soften the fibers. They are cut into a required length and the bark is stripped off. Here are some images of our factory where the logs are put into the clipping machine:
To endure the veneer, the products must be dried and guaranteed the standardized moisture content. There are two drying method: air drying and kiln drying.
The air drying method is the traditional method making use of the natural sunlight to dry the products. That helps the veneer not to dry out too quickly and split.
Kiln drying dramatically saves drying times. The temperature, humidity and ventilation must be controlled strictly in order for the work effectively.
After the process, we have those:
Our products that we supply are ensured to be durable, vibrant and aesthetic because the input materials have been carefully chosen to make sure that the proportion of dead limbs is the lowest. In addition, the logs are also adequately cooked so that the quality of veneer is the highest.

Packing details:
Pallets are covered with veneer and then reinforced by steel tape.
Each 40Ft container is 45 cubic meter of veneer.

RUBBER CORE VENEER FROM VIETNAM

With the good quality and cheap price of our veneer, we believe that we can satisfy all the customer's demands.

In order to give you the best quotation, we would like you to:


 Let us know what price condition you like us to quote: FOB or CIF, CNF? If CIF, CNF please tell us your destination port?
Tell us the terms of payment you want to make.

CONTACT VN:

Mr. thanh.

Mobile: +84 337699789
Email: trieuthanhk47@gmail.com
 <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
      <img src="./go/Eucalyptus-core-veneer-glue-core-3.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-10.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-15.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-16.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-14.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-8.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
      </div>

      <div class="w3-half">
    <img src="./go/Eucalyptus-core-veneer-glue-core-18.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-19.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-9.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-11.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Eucalyptus-core-veneer-glue-core-5.jpg" alt="Eucalyptus core, Grade A veneer glue core with good price" style="width:100%;">
      </div>





 </span></span></p>
                                                </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="module_product_auth">
                <div></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<%include ./duoi.ejs%>