<%include ./dau.ejs%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<hr>
<link rel="stylesheet" href="//s.alicdn.com/@g/sc/sc-details/0.0.86/index.css">
<section class="main-page-brand">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="./go/Excellent-Quality-Wood-chips-1.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./go/Excellent-Quality-Wood-chips-2.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./go/Excellent-Quality-Wood-chips-3.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./go/Excellent-Quality-Wood-chips-5.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="col-sm-4">
                <h2><strong>Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper
                    </strong></h2><br>
                <hr>
                <del><span class="woocommerce-Price-amount amount">
                      <!--   <h3"> 85.000  vnđ<br></h3> -->
                    </span></span></del>
                <h3 style="color: red">$16.00 - $30.00 / Square Meter | 45 Square meter / Square meter (Minimum order)
<br></h3>
                <hr>
                <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                    <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                        <a href="/lien-he"><button type="button"class="btn btn-danger"><strong>FOB Reference Price:Get Latest Price</strong></button><br><br></a>
                        <!-- <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">chi Tiết Sản phẩm:</font>
                        </font> -->
                    </div>
                </div><br>
                <!-- <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                    <div class="detail-decorate-json-renderer-container">
                        <div class="magic-1">
                            <div class="magic-2">
                                <div class="magic-3">
                                    <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                            <strong>Xuất sứ: </strong>tại xưởng sản xuất Bảo Long<br>
                                           <strong>Màu: </strong> Màu/Mẫu Be, Trắng vân gỗ, nâu vàng, Đen<br>
                                            <strong> Chất liệu:</strong> Khung sắt sơn tĩnh điện + Gỗ MDF cốt xanh chống ẩm <br>
                                            <strong> Kích thước:</strong> 70 x 40 x 90 cm (Dài x Rộng x Cao) <br>
                                            <strong> Bảo hành:</strong> Sản phẩm bảo hành 12 tháng <br>
                                        </span></div>
                                <br><img style="width:100%;" src="./anh/promo_image.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            
        </div>
    </div>
   <div class="container">
        <div id="block-tab-product" class="tab-body-pane show" data-module="productDetail" data-spm-anchor-id="a2700.details.0.i29.128c36aftHXJvl">
            <div id="module_risk_warning"></div>
            <div id="module_detail_video"></div>
            <div id="module_product_specification">
                <div id="J-rich-text-description" class="richtext richtext-detail rich-text-description is-magic">
                    <div data-host="112190218" data-magic-global="%7B%22bizId%22%3A2209154152879%2C%22pageId%22%3A20020452537%2C%22siteId%22%3A10002064380%7D" data-id="detail_decorate_root" id="detail_decorate_root">
                        <style>
                        #detail_decorate_root .magic-0 {
                            border-bottom-style: solid;
                            border-bottom-color: #53647a;
                            font-family: Roboto;
                            font-size: 24px;
                            color: #53647a;
                            font-style: normal;
                            border-bottom-width: 2px;
                            padding-top: 8px;
                            padding-bottom: 4px
                        }

                        #detail_decorate_root .magic-1 {
                            vertical-align: top
                        }

                        #detail_decorate_root .magic-2 {
                            vertical-align: top;
                            display: block;
                            padding-right: 4px;
                            box-sizing: border-box;
                            padding-left: 4px
                        }

                        #detail_decorate_root .magic-3 {
                            vertical-align: top;
                            padding-bottom: 4px;
                            box-sizing: border-box;
                            padding-top: 4px
                        }

                        #detail_decorate_root .magic-4 {
                            padding: 0;
                            margin: 0;
                            white-space: pre-wrap;
                            font-size: 14px
                        }

                        #detail_decorate_root .magic-5 {
                            width: 750px;
                            border-collapse: collapse
                        }

                        #detail_decorate_root .magic-6 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 259px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-7 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 442px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-8 {
                            margin-bottom: 10px;
                            line-height: 0
                        }

                        #detail_decorate_root .magic-9 {
                            width: 750px;
                            height: 750px;
                            overflow: hidden;
                            margin-bottom: 0
                        }

                        #detail_decorate_root .magic-10 {
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 750px;
                            height: 750px
                        }

                        #detail_decorate_root .magic-11 {
                            width: 750px
                        }

                        #detail_decorate_root .magic-12 {
                            overflow: hidden;
                            width: 750px;
                            height: 750px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0
                        }

                        #detail_decorate_root .magic-13 {
                            margin-top: 0;
                            margin-left: 0;
                            width: 750px;
                            height: 750px
                        }
                        </style>
                        <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">Product Details</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                            <div class="detail-decorate-json-renderer-container">
                                <div class="magic-1">
                                    <div class="magic-2">
                                        <div class="magic-3">
                                            <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                                    <div>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif">

<img src="./icon/8.PNG" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">

WOOD CHIPS
Woodchips are small to medium sized pieces of wood formed by cutting or chipping larger pieces of wood such as trees, branches, logging residues, stumps, roots, and wood waste. 
Woodchips may be used as a biomass solid fuel and are raw material for producing wood pulp.They may also be used as an organic mulch in gardening, landscaping, restoration ecology, bioreactors for denitrification and as a substrate for mushroom cultivation.

PRODUCTX Co., Ltd is one of the largest manufactures in exporting field in Viet Nam. We have established a system of Vietnamese suppliers who are evaluated the liability and production capacity. We are also choosen to supply the offical news for InfoTV that is a famous chanel about import and export activities in Vietnam.
  We will consult you the best with the legal matters because we know the administrative procedures, laws and customs in Vietnam. PRODUCTX guarantees to serve you 24/24, we understand the time zone difference of current local time worldwide. So you can contact to us in anytime and shorten your time to sign contract.

We promise to send regular reports of our suppliers during the process of contract.

Specifications of wood chip :

 1. Acacia wood chip:

- Nghi Son port: 10000 BDMT/month, FOB Nghi Son port:

- Quy Nhon port: 20000 BDMT/month, FOB Quy Nhon port:

2. Eucalyptus wood chip:

Quy Nhon port: 10000 BDMT/month, FOB Quy Nhon port:

+ Shipment: in bulk, immediate

+ Loading rate: 1000 - 1500 BDMT/day

+ Payment: 100% LC at sight

+ Specification:

+ Moisture: 45% max

+ Length:

More than 40mm: 4% max

From 9.5 - 40mm: 87% min

From 4.8 - 9.5mm: 6% min

Less than 4.8mm: 2% max

+ Foreign matters: 1% max

Here are some pictures of our office:

CONTACT VN:

Mr. thanh.

Mobile: +84 337699789
Email: trieuthanhk47@gmail.com
<img src="./go/Excellent-Quality-Wood-chips-2.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
<img src="./go/Excellent-Quality-Wood-chips-1.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">

<img src="./go/Excellent-Quality-Wood-chips-3.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
<img src="./go/Excellent-Quality-Wood-chips-4.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
<img src="./go/Excellent-Quality-Wood-chips-5.jpg" alt="ucaElyptus core, Grade A veneer glue core with good price" style="width:100%;">
<img src="./go/Excellent-Quality-Wood-chips-6.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
<img src="./go/Excellent-Quality-Wood-chips-7.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
<img src="./go/Excellent-Quality-Wood-chips-8.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
<img src="./go/Excellent-Quality-Wood-chips-9.jpg" alt="Excellent Quality Wood chips - Very Competitive Wood chips from Viet Nam - Pine/ Acacia/ Rubber Wood chips for Fuel and Paper" style="width:100%;">
 </span></span></p>
                                                </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="module_product_auth">
                <div></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<%include ./duoi.ejs%>