<%include ./dau.ejs%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<hr>
<link rel="stylesheet" href="//s.alicdn.com/@g/sc/sc-details/0.0.86/index.css">
<section class="main-page-brand">
  
    <div class="container">
        <div class="col-sm-10 jumbotron">
            <div id="module_risk_warning"></div>
            <div id="module_detail_video"></div>
            <div id="module_product_specification">
                <div id="J-rich-text-description" class="richtext richtext-detail rich-text-description is-magic">
                    <div data-host="112190218" data-magic-global="%7B%22bizId%22%3A2209154152879%2C%22pageId%22%3A20020452537%2C%22siteId%22%3A10002064380%7D" data-id="detail_decorate_root" id="detail_decorate_root">
                        <style>
                        #detail_decorate_root .magic-0 {
                            border-bottom-style: solid;
                            border-bottom-color: #53647a;
                            font-family: Roboto;
                            font-size: 24px;
                            color: #53647a;
                            font-style: normal;
                            border-bottom-width: 2px;
                            padding-top: 8px;
                            padding-bottom: 4px
                        }

                        #detail_decorate_root .magic-1 {
                            vertical-align: top
                        }

                        #detail_decorate_root .magic-2 {
                            vertical-align: top;
                            display: block;
                            padding-right: 4px;
                            box-sizing: border-box;
                            padding-left: 4px
                        }

                        #detail_decorate_root .magic-3 {
                            vertical-align: top;
                            padding-bottom: 4px;
                            box-sizing: border-box;
                            padding-top: 4px
                        }

                        #detail_decorate_root .magic-4 {
                            padding: 0;
                            margin: 0;
                            white-space: pre-wrap;
                            font-size: 14px
                        }

                        #detail_decorate_root .magic-5 {
                            width: 750px;
                            border-collapse: collapse
                        }

                        #detail_decorate_root .magic-6 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 259px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-7 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 442px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-8 {
                            margin-bottom: 10px;
                            line-height: 0
                        }

                        #detail_decorate_root .magic-9 {
                            width: 750px;
                            height: 750px;
                            overflow: hidden;
                            margin-bottom: 0
                        }

                        #detail_decorate_root .magic-10 {
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 750px;
                            height: 750px
                        }

                        #detail_decorate_root .magic-11 {
                            width: 750px
                        }

                        #detail_decorate_root .magic-12 {
                            overflow: hidden;
                            width: 750px;
                            height: 750px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0
                        }

                        #detail_decorate_root .magic-13 {
                            margin-top: 0;
                            margin-left: 0;
                            width: 750px;
                            height: 750px
                        }
                        </style>
                        <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">OVERVIEW</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                            <div class="detail-decorate-json-renderer-container">
                                <div class="magic-1">
                                    <div class="magic-2">
                                        <div class="magic-3">
                                            <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                                    <div>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif"></span></span></p>


 

PRODUCTX CO., LTD was established in 2017 and is one of the pioneering companies in applying e-commerce in export promotion and consultancy, supporting Vietnamese businesses in general and startups in particular, to seize the opportunity to export their quality products to the world. Until now, PRODUCTX has always been the leading private company in Vietnam in the field of goods export promotion.

With a long history and great experiences, we have been supporting a wide variety of products such as: Wood, Agricultural, Garment, Energy, Construction Materials, Bamboo and Rattan, Seafood products ... The categories are continuously expanding to meet the needs of both foreign customers and exporters in Vietnam.

PRODUCTX always tries our best to create, innovate and develop itself to provide the best value for both suppliers in Vietnam and import customers worldwide. We are proud of the good achievements we have earned as well as the value that we have brought to our customers, including:

➢ Currently consulting and supporting more than 1,000 businesses nationwide in many different industries.


➢ Owning the largest importer database in Southeast Asia with more than 28,000 customers worldwide. PRODUCTX has 20-30 export transactions each and every day.

➢ Won the award for the company with the most export transactions in the world in 2006, Winning Seller, and since then has always been among the top companies with the most transactions in Asia.

➢ Have been guiding and supporting thousands of Vietnamese businesses (including startups and inexperienced individuals) to successfully export their products for the first time

➢ The only organization in Vietnam that teaches and analyzes export sale method. Each import-export course has more than 200 participants.

Some photos of PRODUCTX's courses
 

➢ The Ministry of Commerce rated PRODUCTX as one of the companies that successfully applied e-commerce in import and export activities.

Moreover, PRODUCTX is also capable of consulting and leading Vietnamese suppliers to catch up with market trends and orient customers' demands. We are proud to have succeeded in observing and predicting sawdust pellet fever (starting in 2017), sawdust charcoal (commenced in 2019) and antibacterial fabric masks (2020). Thanks to that, many domestic trading enterprises have promptly changed direction and succeeded in promoting the export of new product lines for themselves in particular and for all businesses in the country in general.
<img src="./anh/toa-nha-san-nam-building-duy-tan-1.jpg" alt="Los Angeles" style="width:100%;">


During our 6 years of operation, PRODUCTX has cooperated with many organizations of national stature, such as the Trade and Investment Promotion Departments of many provinces in the North - Central - South of Vietnam.

 <img src="./anh/van-phong-cho-thue-sannam-building-duy-tan.jpg" alt="Los Angeles" style="width:100%;">

Currently,  PRODUCTX's head office is located at Room 410, 8th Floor, Sannam Building, No. 78 Duy Tan, Cau Giay District, Hanoi.
 <img src="./anh/1.png" alt="Los Angeles" style="width:100%;">
Some pictures of company office
 <img src="./anh/2.png" alt="Los Angeles" style="width:100%;">
  <img src="./anh/4.png" alt="Los Angeles" style="width:100%;">
   <img src="./anh/3.png" alt="Los Angeles" style="width:100%;">
   <img src="./anh/5.png" alt="Los Angeles" style="width:100%;">
   <img src="./anh/6.png" alt="Los Angeles" style="width:100%;">
VISION
To become the best promotion company and leading business in Vietnam

 

MISSION

• Provide clients with attractive, long-term benefits through providing a wide range of services and lifelong consulting support.

• Become the most trusted and selected trade promotion partner of Exporters in Vietnam as well as Importers around the world thanks to our ability to support a wide range of products and services based on the customer-centricity motto.

• Create for employees a fair working environment, promoting outstanding development with many opportunities to develop individual and team capabilities, to contribute to the value of the organization and society, and to create a successful and sustainable career.

 

THE PRESS TALKS ABOUT PRODUCTX

CafeF (2011): “8X businessman - Trieu Thanh: From a family incident to dropping out of school to startup”

(2017) “Exporting companies, if they don’t change, will have to be the hired workers in their own country”

Vietnam Economic News (2017): “Sawdust charcoal, pellet – Hot product of the export market”

Vietnam Economic News (2017): “Keep credit, give trust”

Địa chỉ: Địa chỉ: 130 Hoàng Công Chất, P. Phú Diễn, Q. Bắc Từ Liêm, Tp. Hà Nội
Hotline:0338 563 000
Email: duchi102@gmail.com </span></span></p>
                                                </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="module_product_auth">
                <div></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<%include ./duoi.ejs%>