<%include ./dau%>
<!-- #masthead -->
<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <img src="./banner/banner11.gif" alt="Los Angeles" style="width:100%;">
    </div>
    <!-- <div class="item">
        <img src="./banner/banner22.png" alt="Chicago" style="width:100%;">
    </div>
    <div class="item">
        <img src="./banner/banner11.png" alt="Los Angeles" style="width:100%;">
    </div> -->
</div>
<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
</a>
</div>
<div id="content" class="site-content">
    <div class="container">
        <div id="primary" class="content-sidebar-wrap">
            <main id="main" class="site-main" role="main">
                <div class="home_slider">
                    <div class="row">
                        <div class="col-lg-6 order-lg-1 order-2">
                            <h2></h2>
                            <p>
                                <strong>PRODUCTX Co., Ltd</strong>
                                was established in 2017 and is one of the pioneers in the application of the wood field to export its quality products to the world.<br>
                                As a unit with a long history and experience, we have been supporting the catalysis of a wide variety of manufacturing industries such as: Wood, Building Materials, Rattan... meet the needs of both foreign customers.<br>PRODUCTX always tries its best to create, innovate and develop itself in order to provide the best values ​​for both suppliers in Vietnam and import customers around the world. We are proud of the good results that I have achieved as well as the values ​​that have been brought to customers.
                                We cooperate to export products, including:
                                - Wood (Acacia, Pine, Rubber wood, Eucalyptus, Plywood, MDF Board, Veneer, Interior Furniture, Household goods, etc.);<br>
                                - Garment (T-shirt, Polo Shirt, Dress Shirt, Jacket, Personal Protective Equipments, Jeans, Cotton Towel, Gloves, Socks, PP bags, Hat, Canvas bag, Mask, Backpack, Shoes, etc.)<br>
                                - Agricultural products (Rice, Pepper, Cashew, Coffee, Dragon Fruit, Chili, Ginger, Onion, Garlic, Lime, Banana, Vegetables, Avocado, Mango, etc.)<br>
                                - Energy (Sawdust pellets, Sawdust charcoal, White charcoal, Black charcoal, Coconut shell charcoal, Bamboo charcoal, etc.)<br>
                                - Paper (Paper, Paper cup, Paper bag, Carton box, etc.)<br>
                                - Bamboo and rattan (Bamboo skewer, Incense stick, Toothpick, Bamboo stick, etc.)<br>
                                - Seafood (Shutchi catfish, Yellowtail catfish, Shrimp, etc.)<br>
                                - Construction materials (Cement, Clinker, Construction stone, Marble, Granite, etc.)<br>
                            </p>
                            <!-- <div class="sidebar sidebar-home d-md-block d-none">
                                <section id="nav_menu-3" class="widget widget_nav_menu">
                                    <h2 class="widget-title">Danh mục</h2>
                                    <div class="menu-danh-muc-container">
                                        <ul id="menu-danh-muc" class="menu">
                                            <li id="menu-item-704" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-704"><a href="/">KỆ BẾP</a></li>
                                            <li id="menu-item-788" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-788"><a href="/gian-phoi-dieu-khien">KỆ MÁY GIẶT</a></li>
                                            <li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-579"><a href="/san-phan-ban-chay">KỆ NHÀ VỆ SINH</a></li>
                                            <li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-579"><a href="/san-phan-ban-chay">KỆ HOA</a></li>
                                            <li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-579"><a href="/san-phan-ban-chay">KỆ SÁCH</a></li>
                                            <li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-579"><a href="/san-phan-ban-chay">GIÁ KỆ ĐA NĂNG</a></li>
                                        </ul>
                                    </div>
                                </section>
                            </div> -->
                        </div>
                        <div class="col-lg-6">
                            <img src="./banner/free.gif">
                        </div>
                    </div>
                </div>
        </div><br>
        <!-- --------------------- Products --------------------- -->
        <!--  -->
        <div class="home_section" id="home_product">
            <div class="product-wrap">
                <h2 class="heading"><a href="/">Products</a></h2>
                <div class="sh-product-shortcode column-4">
                    <ul class="row list-products">
                        <%for(i = 0 ; i<sanpham1.length ; i++){%>
                        <li class="product">
                            <div class="wrap-product">
                                <div class="image-product"><a class="img hover-zoom" href="<%=sanpham1[i].link%>" title="Giá kệ Đa Năng"> <img src="<%=sanpham1[i].anh%>"> </a>
                                </div>
                                <div class="home_section" id="home_intro">
                                    <div class="home_about_desc">
                                        <h3 class="woocommerce-loop-product__title"><a href="<%=sanpham1[i].link%>">
                                                <%=sanpham1[i].ten%></a></h3>
                                    </div>
                                </div>
                                <p class="price"><ins><span class="woocommerce-Price-amount amount">
                                            <%=sanpham1[i].gia%> <br><span class="woocommerce-Price-currencySymbol"></span></span></ins><del><span class="woocommerce-Price-amount amount">
                                            <%=sanpham1[i].giacu%><br><span class="woocommerce-Price-currencySymbol"></span></span></del></p><a href="<%=sanpham1[i].link%>" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" rel="nofollow">Mua hàng</a>
                            </div>
                        </li>
                        <%}%>
                    </ul>
                    <br>
                    <img src="./icon/4.png">
                    <img src="./icon/Excellent-Quality-Wood-chips-11.jpg">
                </div>
            </div>
            <!--  -->
            </main><!-- #main -->
        </div><!-- #primary -->
        
    </div>
</div><!-- #content -->
<div class="w3-container w3-content w3-padding-64" style="max-width:1400px">
    <img src="./icon/5.png">
</div>
<div class="w3-content" style="max-width:2000px;margin-top:46px">
    <!-- The Band Section -->
    <!-- <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">CONTACT</h2>
            <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
            <div class="w3-row w3-padding-32">
                <div class="w3-col m6 w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker" style="width:30px"></i>PRODUCTX Co., Ltd, vietnam<br>
                    <i class="fa fa-phone" style="width:30px"></i> Phone: 0337 699 789<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> Email: trieuthanhk47@mail.com<br>
                </div>
                <div class="w3-col m6">
                    <form action="/action_page.php" target="_blank">
                        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                            <div class="w3-half">
                                <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                            </div>
                            <div class="w3-half">
                                <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                            </div>
                        </div>
                        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                        <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Ticket Modal -->
    <div id="ticketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
                <span onclick="document.getElementById('ticketModal').style.display='none'" class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
            </header>
            <div class="w3-container">
                <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
                <input class="w3-input w3-border" type="text" placeholder="How many?">
                <p><label><i class="fa fa-user"></i> Send To</label></p>
                <input class="w3-input w3-border" type="text" placeholder="Enter email">
                <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
                <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
            </div>
        </div>
    </div>
    <!-- The Contact Section -->
    <!-- End Page Content -->
</div>
<%include ./duoi%>