<%include ./dau%>
<div class="container">
    <div class="row">
        <main id="main" class="site-main" role="main">
            <article id="post-146" class="post-146 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="page-title">CONTACT</h1>
                </header><!-- .entry-header -->

                <div class="entry-content">
                     <div class="row">
                        
                        <div class="col-sm-6 col_contact">
                            <div class="footer-widgets-area">
                                <section id="information-2" class="widget widget_information">
                                    <div class="entry-content" style="color: #fa7a1b">
                                        
                                        <p><strong><span style="text-decoration: underline; font-size: 20px;">CONTACT</span></strong></p>
                                        <ul>
                                           
                                             <li class="label-company"><i class=" icofont-brand-windows"></i>PRODUCTX Co., Ltd</li>
                                <li><span> Headquarters: 225 Quan Hoa, Ward.Quan Hoa, District.Cau Giay, city Ha Noi, VN</span></li>
                                <li><span class="">Hotline:0337 699 789</span></li>
                                <li><span class="">Email: info.productx102@gmail.com </span></li></li>
                                        </ul>
                                    </div>
                                </section>
  
                        </div>
                    </div>
                    <div class="embed-responsive embed-responsive-21by9 mb-5">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7424078672016!2d105.76259771533223!3d21.042990492667375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c6ca5f16ab%3A0xb7a2fe0dacae600c!2zMTMwIEhvw6BuZyBDw7RuZyBDaOG6pXQsIEPhuqd1IERp4buFbiwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1630381474283!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                   
                </div><!-- .entry-content -->
            </article><!-- #post-## -->
        </main>
    </div>
</div>
<%include ./duoi%>