  <center>
                <div class="d-md-none">
                    <div class="box_category_image">
                        <div class=" btn-group">
                            <button  ><a href="ke-da-nang" style="color: #fff"> KỆ ĐA NĂNG</button></a>
                            <button ><a href="/ke-bep"style="color: #fff">KỆ BẾP</button></a>
                               <button><a href="/ke-sach"style="color: #fff">KỆ SÁCH</button></a>
                        </div>
                        <div class=" btn-group">
                         
                            <button><a href="/gia-ke-may-giat"style="color: #fff">KỆ MÁY GIẶT </button></a>
                           <button><a href="/ke-hoa"style="color: #fff">KỆ HOA</button></a>
                            <button><a href="/tranh-canvas"style="color: #fff">TRANG CANVAS</button></a>
                        </div>
                        
                    </div>
                </div>
              </center>
              
     <style>

.btn-group button {
  background-color: #f0770b; /* Green background */
  border: 5px solid #ffffff; /* Green border */
  color: white; /* White text */
  padding: 6px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
</style>