<%include ./dau.ejs%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<hr>
<link rel="stylesheet" href="//s.alicdn.com/@g/sc/sc-details/0.0.86/index.css">
<section class="main-page-brand">
   
    <div class="container">
        <div class="home_section" id="home_product">
                    <div class="product-wrap">
                        <h2 class="heading"><a href="/ke-bep">TIN TỨC</a></h2>
                        <div class="sh-product-shortcode column-4">
                            <ul class="row list-products">
                                <%for(i = 0 ; i<sanpham5.length ; i++){%>
                                <li class="product">
                                    <div class="wrap-product">
                                        <div class="image-product"><a class="img hover-zoom" href="<%=sanpham5[i].link%>" title="Giàn Dây Phơi Điều Khiển GLP750 Bạc"> <img src="<%=sanpham5[i].anh%>"> </a>
                                        </div>
                                        <h3 class="woocommerce-loop-product__title"><a  href="<%=sanpham5[i].link%>">
                                                <%=sanpham5[i].ten%></a></h3>
                                        <p class="price"><ins><span class="woocommerce-Price-amount amount">
                                                  
                                    </div>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
        <div id="block-tab-product" class="tab-body-pane show" data-module="productDetail" data-spm-anchor-id="a2700.details.0.i29.128c36aftHXJvl">
            <div id="module_risk_warning"></div>
            <div id="module_detail_video"></div>
            <div id="module_product_specification">
                <div id="J-rich-text-description" class="richtext richtext-detail rich-text-description is-magic">
                    <div data-host="112190218" data-magic-global="%7B%22bizId%22%3A2209154152879%2C%22pageId%22%3A20020452537%2C%22siteId%22%3A10002064380%7D" data-id="detail_decorate_root" id="detail_decorate_root">
                        <style>
                        #detail_decorate_root .magic-0 {
                            border-bottom-style: solid;
                            border-bottom-color: #53647a;
                            font-family: Roboto;
                            font-size: 24px;
                            color: #53647a;
                            font-style: normal;
                            border-bottom-width: 2px;
                            padding-top: 8px;
                            padding-bottom: 4px
                        }

                        #detail_decorate_root .magic-1 {
                            vertical-align: top
                        }

                        #detail_decorate_root .magic-2 {
                            vertical-align: top;
                            display: block;
                            padding-right: 4px;
                            box-sizing: border-box;
                            padding-left: 4px
                        }

                        #detail_decorate_root .magic-3 {
                            vertical-align: top;
                            padding-bottom: 4px;
                            box-sizing: border-box;
                            padding-top: 4px
                        }

                        #detail_decorate_root .magic-4 {
                            padding: 0;
                            margin: 0;
                            white-space: pre-wrap;
                            font-size: 14px
                        }

                        #detail_decorate_root .magic-5 {
                            width: 750px;
                            border-collapse: collapse
                        }

                        #detail_decorate_root .magic-6 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 259px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-7 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 442px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-8 {
                            margin-bottom: 10px;
                            line-height: 0
                        }

                        #detail_decorate_root .magic-9 {
                            width: 750px;
                            height: 750px;
                            overflow: hidden;
                            margin-bottom: 0
                        }

                        #detail_decorate_root .magic-10 {
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 750px;
                            height: 750px
                        }

                        #detail_decorate_root .magic-11 {
                            width: 750px
                        }

                        #detail_decorate_root .magic-12 {
                            overflow: hidden;
                            width: 750px;
                            height: 750px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0
                        }

                        #detail_decorate_root .magic-13 {
                            margin-top: 0;
                            margin-left: 0;
                            width: 750px;
                            height: 750px
                        }
                        </style>
                        <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">CÔNG TY CỔ PHẦN XÂY DỰNG VÀ NỘI THẤT BẢO LONG</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                            <div class="detail-decorate-json-renderer-container">
                                <div class="magic-1">
                                    <div class="magic-2">
                                        <div class="magic-3">
                                            <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                                    <div>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif">
    <img src="./anh/loho98x9802.png " alt="Chicago" style="width:20%;">
 I. SỨ MỆNH
GIỚI THIỆU VỀ CÔNG TY CP XD & NỘI THẤT BẢO LONG
Ra đời với sứ mệnh “Nơi hội tụ những con người giá trị, những sản phẩm giá trị, để lan toả giá trị”. Giá trị tại CÔNG TY CP XD & NỘI THẤT BẢO LONG được định nghĩa cụ thể là:
Với sản phẩm: Sản phẩm giá trị là sản phẩm làm thoả mãn khách hàng trước, trong và sau khi sử dụng, trên cơ sở phản hồi trung thực của khách hàng sau khi sử dụng.
Với con người giá trị:
Đối với khách hàng: Là tư vấn cho khách hàng sử dụng sản phẩm, dịch vụ của công ty  trên cơ sở phải có giá trị thực sự đối với cuộc sống của khách hàng, chứ không chỉ là bán thứ khách hàng muốn mua mà xét thấy không phù hợp.
- Đối với đồng nghiệp: Là sự chia sẻ về hiểu biết, trí tuệ với đồng nghiệp để cùng nhau tiến bộ và phát triển
- Đối với tiền bạc: Là kiểm soát được thành quả bản thân làm ra để tưởng thưởng trên giá trị thực chứ không phải là cảm tính
Để lan toả giá trị: Là lắng nghe khách hàng, đồng nghiệp, để thấy cái thiếu của mỗi người, để bù đắp chứ không phải là phán xét.
Với ý nghĩa đó, CÔNG TY CP XD & NỘI THẤT BẢO LONG không ngừng hoàn thiện về hệ thống nhân sự, tìm kiếm, nâng cấp, các sản phẩm, dịch vụ trong nước và quốc tế nhằm mang tới cho hệ thống khách hàng của công ty  ngày càng nhận được những sản phẩm ưu việt nhất, thỏa mãn nhất.

   II. TẦM NHÌN
Trở thành một công ty nội thất  hoạt động đa ngành trên cơ sở lấy giá trị:  SẢN PHẨM CHẤT LƯỢNG làm cốt lõi, và trở thành thương hiệu được khách hàng  yêu quý và tin tưởng nhất Việt Nam.

   III. GIÁ TRỊ CỐT LÕI
1. Suy nghĩ phải TRUNG THỰC
2. Hành động phải: GIÁ TRỊ
3. Ứng xử phải: CHÂN THÀNH

   IV. TRIẾT LÝ VẬN HÀNH
Lợi mình - Lợi người - Lợi chúng Sinh.
- Đối với chính mình: Đừng làm việc, nếu bạn không hiểu được việc làm của bạn có ý nghĩa gì với chính cuộc sống của bạn
- Đối với khách hàng: Đừng bán hàng, nếu chính bạn thấy rằng sản phẩm, dịch vụ mà bạn chuẩn bị cung cấp cho khách hàng không làm cho cuộc sống của khách hàng tốt lên
- Đối với nội bộ Công Ty: Không có khái niệm người cũ, người mới, chức cao, chức thấp, người ngoài, người nhà. Chỉ có khái niệm: “ Người có giá trị”
 
CÔNG TY CP XD & NỘI THẤT BẢO LONG
Cung cấp các sản phẩm nội thất phòng GIÁ, KỆ DECOR....</span></span></p>
<p><span style="font-size:20px"><span style="font-family:times new roman,times,serif">
Địa chỉ: 130 Hoàng Công Chất, P. Phú Diễn, Q. Bắc Từ Liêm, Tp. Hà Nội
Email: baolongdesigner@gmail.com </span></span></p>
                                                </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="module_product_auth">
                <div></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<%include ./duoi.ejs%>