<%include ./dau.ejs%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<hr>
<link rel="stylesheet" href="//s.alicdn.com/@g/sc/sc-details/0.0.86/index.css">
<section class="main-page-brand">
<div class="container jumbotron">
        <div class="row ">
            <div class="col-sm-4">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="./giakedanang/H32b47b1379e04d008c719a8aad09d44dI.png" alt="Los Angeles" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./giakedanang/H45c209241b5f48e3b3fbe05daf0a5c20q.png" alt="Chicago" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="./giakedanang/H548e167ad7744b4ab25c9bd8d5d31bddM.png" alt="Los Angeles" style="width:100%;">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="col-sm-4">
                <h2><strong>TRANH CANVAS
                    </strong></h2><br>
                <hr>
                <del><span class="woocommerce-Price-amount amount">
                        <h3">Giá Gốc: 800.000 vnđ <br></h3>
                    </span></span></del>
                <h3 style="color: red">Giá:600.000 vnđ<br></h3>
                <hr>
                <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                    <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                       <a href="https://zalo.me/0931252333"><button type="button"class="btn btn-danger"><strong>LIÊN HỆ ĐẶT HÀNG</strong></button><br><br></a>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">chi Tiết Sản phẩm:</font>
                        </font>
                    </div>
                </div><br>
                <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                    <div class="detail-decorate-json-renderer-container">
                        <div class="magic-1">
                            <div class="magic-2">
                                <div class="magic-3">
                                    <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                            <strong>Xuất sứ: </strong>Tại xưởng sản xuất Bảo Long<br>
                                            <strong> Chất liệu:</strong> ...<br>
                                            <strong> Kích thước:</strong> theo yêu cầu khách hàng<br>
                                            <strong> Bảo hành:</strong> 12 tháng <br>
                                        </span></div>
                        <br><img style="width:100%;" src="./anh/promo_image.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-sm-4">
                <div class="row ">

                                            <h4><strong style="color: rgb(0, 204, 102)">Mua như vua - chăm sóc như vip</strong></h4>
                                            <ul class="policy_new">
                                                
                                                
                                                
                                                <li>
                                                    <img style="width:6%;" src="./anh/evo_policy_img_1_ab5f57e815be47ab8f52aa9a76390766.png">
                                                   <b>Miễn phí</b> công lắp đặt
                                                </li><br>
                                                
                                                
                                                
                                                <li>
                                                    <img style="width:6%;"  src="./anh/evo_policy_img_2_30af5407839b43d3bc458d77c0b1c04c.png">
                                                   Lỗi là đổi mới trong <b>1 tháng</b> tận nhà.
                                                </li><br>
                                                
                                                
                                                
                                                <li>
                                                    <img style="width:6%;" src="./anh/evo_policy_img_3_b1b31e98ac0b45e8866f436c2a903356.png">
                                                    Đổi trả và bảo hành cực dễ <b>chỉ cần số điện thoại</b>.
                                                </li><br>
                                                
                                                
                                                
                                                <li>
                                                    <img style="width:6%;" src="./anh/evo_policy_img_4_e263a21887974bbeaf61c36f5bd14ab4.png">
                                                    Bảo hành <b>chính hãng 12 tháng</b>, có người đến lấy tận nhà.
                                                </li><br>
                                                
                                            </ul>
                  </div>                   
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-10 jumbotron">
            <div id="module_risk_warning"></div>
            <div id="module_detail_video"></div>
            <div id="module_product_specification">
                <div id="J-rich-text-description" class="richtext richtext-detail rich-text-description is-magic">
                    <div data-host="112190218" data-magic-global="%7B%22bizId%22%3A2209154152879%2C%22pageId%22%3A20020452537%2C%22siteId%22%3A10002064380%7D" data-id="detail_decorate_root" id="detail_decorate_root">
                        <style>
                        #detail_decorate_root .magic-0 {
                            border-bottom-style: solid;
                            border-bottom-color: #53647a;
                            font-family: Roboto;
                            font-size: 24px;
                            color: #53647a;
                            font-style: normal;
                            border-bottom-width: 2px;
                            padding-top: 8px;
                            padding-bottom: 4px
                        }

                        #detail_decorate_root .magic-1 {
                            vertical-align: top
                        }

                        #detail_decorate_root .magic-2 {
                            vertical-align: top;
                            display: block;
                            padding-right: 4px;
                            box-sizing: border-box;
                            padding-left: 4px
                        }

                        #detail_decorate_root .magic-3 {
                            vertical-align: top;
                            padding-bottom: 4px;
                            box-sizing: border-box;
                            padding-top: 4px
                        }

                        #detail_decorate_root .magic-4 {
                            padding: 0;
                            margin: 0;
                            white-space: pre-wrap;
                            font-size: 14px
                        }

                        #detail_decorate_root .magic-5 {
                            width: 750px;
                            border-collapse: collapse
                        }

                        #detail_decorate_root .magic-6 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 259px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-7 {
                            min-height: 18px;
                            padding: 5px 10px;
                            width: 442px;
                            min-height: 18px;
                            box-sizing: content-box
                        }

                        #detail_decorate_root .magic-8 {
                            margin-bottom: 10px;
                            line-height: 0
                        }

                        #detail_decorate_root .magic-9 {
                            width: 750px;
                            height: 750px;
                            overflow: hidden;
                            margin-bottom: 0
                        }

                        #detail_decorate_root .magic-10 {
                            position: relative;
                            left: 0;
                            top: 0;
                            width: 750px;
                            height: 750px
                        }

                        #detail_decorate_root .magic-11 {
                            width: 750px
                        }

                        #detail_decorate_root .magic-12 {
                            overflow: hidden;
                            width: 750px;
                            height: 750px;
                            margin-top: 0;
                            margin-bottom: 0;
                            margin-left: 0;
                            margin-right: 0
                        }

                        #detail_decorate_root .magic-13 {
                            margin-top: 0;
                            margin-left: 0;
                            width: 750px;
                            height: 750px
                        }
                        </style>
                        <div module-id="20624112620" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-72ai7u" data-section="AliMagic-72ai7u" data-section-title="FAQ" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;" data-spm-anchor-id="a2700.details.0.i38.128c36aftHXJvl">Mô tả Sản phẩm</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112622" module-title="detailTextContent" render="true" class="J_module">
                            <div class="detail-decorate-json-renderer-container">
                                <div class="magic-1">
                                    <div class="magic-2">
                                        <div class="magic-3">
                                            <div class="magic-4" data-spm-anchor-id="a2700.details.0.i36.128c36aftHXJvl"><b></b><span>
                                                    <div>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif"></span></span></p>
                                                        <p><span style="font-size:20px"><span style="font-family:times new roman,times,serif">
Địa chỉ: 130 Hoàng Công Chất, P. Phú Diễn, Q. Bắc Từ Liêm, Tp. Hà Nội
Hotline: 0931 252 333
Email: baolongdesigner@gmail.com </span></span></p>
                                                </span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div module-id="20624112609" module-title="detailProductNavigation" render="true" class="J_module">
                            <div id="ali-anchor-AliMagic-du931f" data-section="AliMagic-du931f" data-section-title="Product Description" class="magic-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Hình ảnh tổng quan</font>
                                </font>
                            </div>
                        </div>
                        <div module-id="20624112610" module-title="detailManyImage" render="true" class="J_module">
                            <div class="icbu-pc-detailManyImage magic-8" data-module-name="icbu-pc-detailManyImage">
                                  <img src="./giakedanang/H32b47b1379e04d008c719a8aad09d44dI.png" alt="Los Angeles" style="width:100%;">
                 
                            <img src="./giakedanang/H45c209241b5f48e3b3fbe05daf0a5c20q.png" alt="Chicago" style="width:100%;">
                       
                            <img src="./giakedanang/H548e167ad7744b4ab25c9bd8d5d31bddM.png" alt="Los Angeles" style="width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="module_product_auth">
                <div></div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<%include ./duoi.ejs%>